[2017-05-08 14:21] scalvez opened #2 "TODO : Improve the documentation for the GammaTracking and GammaClustering modules"

[2017-05-08 14:24] drbenmorgan commented on #2
Thanks @scalvez!

[2017-05-10 11:27] drbenmorgan opened #3 "WIP: Mechanism for Detector Alignment"
As discussed in PR #1, we need a way to allow for changes to detector alignment from the "ideal" design parameters. At present, the only apparent way to modify the geometry is via hardcoded changes in the config files.

This issue is to start discussion on the use cases and subsequent requirements for such a system

[2017-05-10 12:25] drbenmorgan commented on #3
Just to motivate discussion, here are a few links to tools used in HEP/LHC/Future Colliders software:

- AIDA-2020 [http://aida2020.web.cern.ch/activities/wp3-advanced-software]
  - @pguzowski, that mentions Chris Parkes at Manchester, so perhaps worth chatting to him?
- DD4hep [GitHub repo](https://github.com/AIDASoft/DD4hep)
- [LHCb Alignment](https://twiki.cern.ch/twiki/bin/view/LHCb/LHCbDetect

[2017-05-15 10:42] pguzowski opened #4 "Tracker reconstruction not working for Bi207 calibration simulation"
I have the following configuration script:

[code]

After flsimulate and flreconstruct, there is no tracker clustering or tracker trajectory data, even for events with electrons in the event display.
![bi207_reco](https://cloud.githubusercontent.com/assets/22715780/26054162/84ea993a-3963-11e7-9779-adb522d41afd.png)

The tracker reconstruction works if this is used instead, so it is a problem speci

[2017-05-15 11:25] pguzowski commented on #4
Actually I have found an event where the reconstruction worked:
![bi207_worked](https://cloud.githubusercontent.com/assets/22715780/26055619/936c73ce-3969-11e7-990c-d8ce5fd67b52.png)

I have narrowed down the problem being due to delayed electrons
(the smallest delay I have found where the reconstruction failed, is 99ms between the electron and the original bi207 decay)

[2017-05-15 16:58] pguzowski commented on #4
I've narrowed this down to delayed `snemo::datamodel::calibrated_tracker_hit` hits not having a valid radius...

[2017-05-16 11:59] cherylepatrick opened #5 "Flvisualize side/front view not working in Falaise 3"
On Mac OSX Sierra: I can't switch to the side or front views in flvisualize (top view looks ok). Tried it both with an xml file generated by Falaise 3 flsimulate, and with an old brio file I generated in Falaise 2. Same problem both times.

Don't know if it's related but I also get a lot of errors when I run flvisualize, will paste as a comment.

[2017-05-16 12:01] cherylepatrick commented on #5
eduroam-int-dhcp-97-252-40:testfalaise3 cpatrick$ flvisualize -i example.xml
[notice:void FLVisualize::do_postprocess_input_metadata(FLVisualize::FLVisualizeArgs &):98] Fetching input metadata from input data file...
[DEVEL] flVisParameters.inputMetadata:
[DEVEL] |-- Key label    : "name"
[DEVEL] |-- Meta label   : "type"
[DEVEL] |-- Entries      : <empty>
[DEVEL] `-- Ordered entries      : <empty

[2017-05-16 13:28] noeroy opened #6 "Flsimulate-configure not working (Falaise 3)"
Hello,
When I use flsimulate-configure program I get this result :

![error](https://cloud.githubusercontent.com/assets/28730995/26107999/10cd9e22-3a43-11e7-8667-3be0d3f0e2f0.png)

Here are the errors I get running flsimulate-configure
[noeroy@pc179 SensitivityModule-build]$ /unix/nemo2/users/cpatrick/CadfaelBrew/bin/flsimulate-configure
QFontDatabase: Cannot find font directory /unix/nemo2/users/

[2017-05-16 15:26] drbenmorgan commented on #6
This may be due to a missing `-fontconfig` option to the `qt5-base` formulae. Could you just confirm the output of `brew doctor` and `brew config` please?

[2017-05-16 15:36] cherylepatrick commented on #6
For background, Noe's using my install on the SL6 machine, which I reinstalled from scratch yesterday/over the weekend. Here are the `brew doctor` and `brew config` outputs:
[cpatrick@pc133 testfalaise3]$ brew doctor
Please note that these warnings are just used to help the Homebrew maintainers
with debugging if you file an issue. If everything you use Homebrew for is
working fine: please don't wo

[2017-05-16 15:44] drbenmorgan commented on #6
Thanks! Could you also run the following and post the output please?

[code]

I still suspect fontconfig, but just need to make sure the rpms are there (they *should* be as other required dependencies would pull them in). I'll need to create a VM to reproduce and test, so may not have a fix until later tomorrow.

[2017-05-16 15:49] cherylepatrick commented on #6
Sorry, I know it's a hassle getting it to work on different platforms. Let us know if there's anything else we can do.
[code]

[2017-05-17 14:28] noeroy opened #7 "Flreconstruct not working in Falaise 3 for custom modules"
Hello,
I have followed the instructions on the Falaise 3 Documentations to write a custom module, but when I try to run Flreconstruct with the module proposed in the tutorial, I get this error :

[noeroy@pc179 MyModule-build]$ /unix/nemo2/users/cpatrick/CadfaelBrew/bin/flreconstruct -i /home/noeroy/BRIO/test2.brio -p /home/noeroy/Modules/MyModule/MyModulePipeline.conf -o output.root

Error in clin

[2017-05-17 14:33] cherylepatrick opened #8 "Standard pipeline has no helix tracks"
The standard pipeline in falaise 3 @falaise:config/snemo/demonstrator/reconstruction/pipeline/1.0.0/flreconstruct.conf only reconstructs straight tracks, no helix tracks.

[2017-05-17 14:34] cherylepatrick commented on #8
<img width="953" alt="flvis_lines" src="https://cloud.githubusercontent.com/assets/18677866/26159348/4b305b12-3b16-11e7-821b-ebc3d980144d.png">

Like that!

[2017-05-17 14:36] cherylepatrick opened #9 "Colour change in flvisualize"
The rainbow colours representing time in the simulated tracker hits are now all purple in the default colour scheme. Is this intentional? Is the old colour scheme still available?

[2017-05-17 14:37] cherylepatrick opened #10 "Documentation: how to add charged particle tracking to pipeline"
Could we get some instructions for how to add charged particle tracking to a pipeline? Docs only go as far as TTD bank.

[2017-05-17 17:52] drbenmorgan commented on #6
This should now be fixed, and all that should be needed (famous last words...) is to do:

[code]

This will reinstall a revision-bumped Qt5, and assuming this installs o.k., running `flsimulate-configure` should show text in the GUI now. If that's o.k. you can do

[code]

to remove the old version.

[2017-05-18 12:26] drbenmorgan commented on #5
@cherylepatrick I've triaged this to the dictionary for the EventBrowser hardcoding in paths to the headers. Everything works if Falaise is built locally, then installed. If the build/source dirs of Falaise are then moved or removed (as is the case for a package manager install), the error reported above occurs. See [here](https://root-forum.cern.ch/t/rootcling-automatically-hard-coding-build-dire

[2017-05-18 13:31] cherylepatrick commented on #7
In case this helps with tracking it down, we've seen this on both Linux and Mac. Noe saw the error when following the instructions on the tutorial website, and I get the same error when running my SensitivityModule custom module, which used to work fine (on both mac and linux) with the old Falaise.

[2017-05-18 13:33] cherylepatrick commented on #5
Thank you very much @drbenmorgan - crossing fingers that the testing comes out OK!

[2017-05-18 13:45] cherylepatrick commented on #6
@drbenmorgan Sorry to be the bearer of bad news as usual, but qt5-base wouldn't install and the failure point was (surprise) font-config:
[code]

[2017-05-18 13:58] drbenmorgan commented on #6
@cherylepatrick At least it's a known issue - try the fixe from [here](https://github.com/Linuxbrew/homebrew-core/issues/1177) which is to run

[code]

then try reinstalling qt5. Not quite sure why it failed on your machine, as I tested it on a CentOS 6.9 with `cadfael-bootstrap` run. Anyway, try the above first.

[2017-05-18 15:20] cherylepatrick commented on #6
It worked! Thanks @drbenmorgan ! Don't know why it didn't work before but these machines are always a bit strange.

[2017-05-18 15:23] cherylepatrick commented on #6
By the way: there are some errors coming up in the console, but as far as I can tell they aren't causing actual problems:
libGL error: unable to load driver nouveau_dri.so
libGL error: driver pointer missing
libGL error: failed to load driver: nouveau

[2017-05-18 16:42] drbenmorgan commented on #7
@noeroy , @cherylepatrick Just to confirm, could you post the config scripts being run, and also:

- where the `.so/.dylib` file for the module is located
- where `flreconstruct` is being run from (i.e. the current working directory)

It looks like the module library isn't being located/loaded.

[2017-05-18 16:46] cherylepatrick commented on #7
On my mac for the SensitivityModule:
[code]
The `dylib` is in `/Users/cpatrick/Dropbox/SuperNEMO/ucl_svn/SensitivityStudy/SensitivityModule-build`

And lastly here is the `SensitivityModule.conf` file:

[code]

Thanks once again @drbenmorgan , I know you are spending half your life running around after my stupid error messages these days and I do appreciate it.

[2017-05-18 16:49] drbenmorgan commented on #7
@cherylepatrick Thanks! Nothing stupid about error messages - it's incredibly useful to have this feedback to improve the software, so keep it coming :-)

[2017-05-19 09:02] noeroy commented on #7
The `.so` is in `/home/noeroy/Modules/MyModule/MyModule-build` and I have got that for flreconstruct :

[code]
Here is the `MyModulePipeline.conf` :

[code]

Thanks for tour time!

[2017-05-19 09:03] noeroy commented on #6
Thank you very much!

[2017-05-19 09:44] drbenmorgan commented on #6
@cherylepatrick I've seen a similar message, but with the "swrast" driver - it seems to be harmless.

This looks to be resolved, so I'll mark as closed.

[2017-05-19 09:44] #6 closed

[2017-05-19 11:54] noeroy opened #11 "Flsimulate : primary_event:versatile_generator not working on Falaise 3"
Hello,
I tried to simulate gammas with 5MeV energy with the primary_event : versatile_generator. And it simulated 1MeV gammas. I also tried 100keV electrons and it simulated 1MeV gammas (the default value). I used a `variants.profile`, here it is :

[code]

and here my `.conf`
[code]

[2017-05-19 13:50] drbenmorgan commented on #5
This should now be available for use by installing the `HEAD` version of falaise. If you do:

[code]

the tip of the develop branch with this fix in should be installed. See the [homebrew-cadfael README](https://github.com/SuperNEMO-DBD/homebrew-cadfael#development-versions) of details on how to manage these installs.

The fix should resolve the issue, but I'll leave this issue open until that's c

[2017-05-19 13:53] cherylepatrick commented on #5
Thank you @drbenmorgan , trying it now!

[2017-05-19 14:17] cherylepatrick commented on #5
Works fine on my mac! Will try updating the linux system now (that's been more weird and flaky so far).

[2017-05-19 14:57] cherylepatrick commented on #5
Works on SL6 too, thank you very much!

[2017-05-19 14:57] #5 closed

[2017-05-19 15:21] drbenmorgan commented on #7
I've just tested the basic MyModule example and can (modulo some other issues that I'll fixe separately), the problem is due to a grammar change in the pipeline script that wasn't updated. It should be sufficient to change the `flreconstruct.plugins` section header from:

[code]

to

[code]

Let me know if that works.

[2017-05-19 15:58] noeroy commented on #7
That works for me, thanks!

[2017-05-22 06:32] cherylepatrick commented on #7
Works for me also, thanks @drbenmorgan

[2017-05-25 10:44] cherylepatrick opened #14 "Flsimulate not running, suspect primary events change"
We can no longer simulate a basic set of 0nubb on the SL6 system. Running the same works on my mac and I am pretty sure it used to also work on SL6. Note that on the linux system, we changed "primary_event" to "primary_events" in as recommended by Francois. I'm not sure if that is part of the problem.

[code]

[2017-05-25 10:44] cherylepatrick commented on #14
Here is the config file I was using:
[code]

[2017-05-25 10:46] cherylepatrick commented on #14
And this is the file I changed:

[code]

[2017-05-25 10:48] noeroy commented on #14
For the record, Flsimulate didn't work with the versatile generator before and now works with it.

[2017-05-25 10:58] noeroy opened #15 "Flreconstruct doesn't work with Falaise2 files (Falaise3)"
Hello,
I can't use flreconstruct to reconstruct or to create a  `.root` file from the files simulated with Falaise 2.
Here the error I get :
[code]

[2017-05-25 11:01] noeroy commented on #15
If that can help, I found a way to do it, with the standard pipeline :
`flreconstruct -i BRIO/test_1000_0nubb.brio -p @falaise:config/snemo/demonstrator/reconstruction/pipeline/1.0.0/flreconstruct.conf -o test_1000_0nubbfl3.root`
That works, and I can do the same to create a `.brio` file that I can reconstruct with any other pipeline. But it's the only pipeline I can use on Falaise 2 files.

[2017-05-25 11:52] drbenmorgan commented on #15
I'd suspect this is an issue with the change in scripting/metadata API, but @fmauger can provide a better review.

[2017-05-26 06:25] fmauger opened #16 "Review FLSimulate step hit processor configuration for "__visu.track" hits and "source" volume."
File "resources/config/snemo/demonstrator/simulation/geant4_control/2.1/hit_processing/step_hit_processors-only_visu_tracks.conf" contains the definition of MC hits post-processor dedicated to the production of "visu" hits. The "source.visu.hit_processor" seems to be malformed concerning the logical volumes
to be attached to it.
Current list is:
<pre>
geometry.volumes   : string[4] = \
  "source_i

[2017-05-26 06:27] fmauger commented on #16
Additional comment: the current geometry defines source pads in file: "resources/config/snemo/demonstrator/geometry/4.0/models/source_module/basic/source_pads.geom"
this is the place where ideal version of *pads* logical volumes are setup for SN geometry 4.0.

[2017-05-31 09:22] drbenmorgan commented on #7
I'll mark this as closed as the fix seems to have worked and PR #17 addresses the documentation issue.

[2017-05-31 09:22] #7 closed

[2017-05-31 19:18] lemiere opened #19 "Falaise install. issue using ninja"
Dear all,

I tried to install Falaise-3.0.0 on my laptop (ubuntu 16.04)
Cadfael -- OK
Bayeux -- OK
Falaise --->
I did :
 cmake \
 -DCMAKE_BUILD_TYPE:STRING=Release \
 -DCMAKE_INSTALL_PREFIX:PATH="${FL_DEV_INSTALL_DIR}" \
 -DCMAKE_PREFIX_PATH=$CADFAEL_PATH \
 -DCMAKE_FIND_ROOT_PATH:PATH="$(bxquery --prefix);$CADFAEL_PATH" \
 -DFALAISE_COMPILER_ERROR_ON_WARNING=ON \
 -DFALAISE_WITH_DEVELOPER_TOOLS=O

[2017-06-01 09:16] goliviero commented on #14
As I said on Slack, add a variant section only on your file :
`resources/config/snemo/demonstrator/simulation/primary_events/1.2/generators/versatile.def`

[code]

[2017-06-01 09:55] drbenmorgan commented on #19
Hi @lemiere, I've tried this locally on Mac and I cannot reproduce - could you check and post the output of:

[code]

please?

[2017-06-01 10:12] noeroy opened #21 "Flsimulate trouble with scintillator bulk vertexes generators (Falaise 3 )"
Hello,
The simulations with the vertexes generators `calo_5inch_scin_bulk` and `calo_8inch_scin_bulk` don't work. Here the error message I get :

[code]

Here the `variants.profile` I used :
[code]

[2017-06-01 11:17] goliviero commented on #21
Ok there is 2 fix to do in the resources files :
in file : `share/Falaise-3.0.0/resources/config/snemo/demonstrator/simulation/vertexes/4.1/generators/om_vg.def`

For calo_8inch_scin_bulk and calo_5inch_scin_bulk
genvtx::combined_model_vg --> genvtx::combined_vg
and add the weight :

generators.calo_8inch_back_scin_bulk.absolute_weight  : real = 1.0
generators.calo_8inch_front_scin_bulk.absolute_w

[2017-06-01 13:17] drbenmorgan commented on #21
@noeroy, could you post the "simugamma.conf" file from your first post please? This would help so that, along with the variant profile, we can test and resolve the issue - which @goliviero is working on in PR #22

[2017-06-01 13:21] drbenmorgan commented on #11
Just to cross-reference, this is being addressed in PR #20

[2017-06-01 13:23] noeroy commented on #21
Yes, sorry about that, here it is :

[code]

By the way, since the install isn't in my home directory, I can't modify it, it's @cherylepatrick who does all the modifications in the file, so I can't test the fix right now.

[2017-06-01 13:30] drbenmorgan commented on #21
Thanks!

If you want to test fixes locally, compiling and running Falaise is documented here:

https://github.com/SuperNEMO-DBD/Falaise#installing-falaise

and if you want to make changes and/or test fixes, there's a guide to working with Git and so on here:

https://github.com/SuperNEMO-DBD/Falaise/blob/develop/CONTRIBUTING.md

The changes proposed in any Pull Request can be tested locally using

[2017-06-01 14:46] lemiere commented on #15
I installed from scratch from Cadafael to Falaise using brew on my laptop (ubuntu 16.04) and CCLyon (SL6)
I execute flsimulate and obtained that :
Error in cling::AutoloadingVisitor::InsertIntoAutoloadingState:
   Missing FileEntry for /sps/nemo/scratch/nemoprod/_var/bayeux-20170531-117802-13u2qj9/Bayeux-3.0.0/source/bxbrio/include/brio/detail/brio_record.h
   requested to autoload type TArrayCMod

[2017-06-01 14:52] drbenmorgan commented on #15
@lemiere This is related to Issue #5 (that was fixed in PR #12) - it is due Root's dictionary generation mechanism not stripping out absolute paths to headers. It appears to be a benign issue, at least so far there are no reported issues with reading or writing Brio files (interactive ROOT might be a different matter, but since Brio files aren't interactive, that may not matter).

It ultimately ne

[2017-06-01 14:58] noeroy commented on #15
I can confirm that I have this warning message on every reconstruction, not only those from Falaise2 files and that it doesn't seems to be a problem in the other cases.

[2017-06-02 05:54] fmauger commented on #8
I will fix this. There is a incomplete parameter in the modules.def file associated to this tagged pipeline.
The fix implies to add some variant_only directive to make it more robust. I'm working on it.

[2017-06-02 09:42] noeroy commented on #21
It worked, thanks @drbenmorgan, @goliviero  !

[2017-06-02 09:47] cherylepatrick opened #24 ""Go to event number" option in flvisualize"
Would it be possible to add a "go to event number xxx" facility in flvisualize? As far as I can see, the only ways to change the event you are looking at are with the "next event" button or with the drop-down list. With a big file (e.g. 1 million events) it can take minutes of scrolling to get to the event you want. It would be nice to be able to type in a number and immediately go to that event.

[2017-06-02 09:54] #21 closed

[2017-06-02 09:58] goliviero commented on #11
Same issue as : https://github.com/SuperNEMO-DBD/Falaise/issues/21
It was fixed in the PR https://github.com/SuperNEMO-DBD/Falaise/pull/20

[2017-06-02 09:58] #11 closed

[2017-06-02 09:59] goliviero commented on #14
Link to PR https://github.com/SuperNEMO-DBD/Falaise/pull/22

[2017-06-02 10:04] pguzowski opened #25 "Continuous time simulation of decays (especially for Bi207 calibration)"
WIth 2kBq Bi207 sources, and 24 sources, there will be a decay every ~20μs. This means decays will overlap within the same trigger readout window. Also delayed particles in each decay will overlap with future decay windows (where the delay could be up to a few seconds later -- see for example the electron and gamma times in the event display in #4)

We require a more sophisticated handling of cont

[2017-06-02 10:36] goliviero commented on #25
An other example is the BiPo 214 cascade. An alpha particle is 'delayed' in relation to the 'prompt' electron but in the real world other physical events can happen between the electron/alpha decay.
In G4/Bayeux, the bipo cascade is 1 event but in the detector it will be 2 events.
An other idea is to split the G4 event into 2 events with a special flag for the alpha particle to know from which ele

[2017-06-02 10:42] goliviero commented on #25
Other thing to take into account in Falaise : the dead time of the detector
Once a Geiger cell is hit, the cell is 'dead' during 1ms.
This will be implemented in the Analog Signal Builder / Digitization modules

[2017-06-02 12:01] fmauger commented on #25
This is a complex and interesting  problem. We (Guillaume, Yves, I) have postponed the work to be done about this use case. There is no unique strategy. My feeling is that we should implement a solution which approximates a continuous decay  time model  because it is not so compatible with the event- per-event approach of G4 itself and it would be possibly extremely CPU consuming if implemented wi

[2017-06-02 12:21] drbenmorgan commented on #14
As PR #22 is now merged, can this issue be closed? Note that the changes are on the develop branch, and that can be installed for testing under brew by following the instructions here:

https://github.com/SuperNEMO-DBD/homebrew-cadfael#development-versions

[2017-06-05 12:32] drbenmorgan commented on #8
PR #28 is now merged onto the develop line. That can be installed from source following the guide on the [README](https://github.com/SuperNEMO-DBD/Falaise#building-testing-and-installing-from-source) or via `brew` by installing the `HEAD` version as [described here](https://github.com/SuperNEMO-DBD/homebrew-cadfael#development-versions).

Let us know if issues remain, otherwise please close the is

[2017-06-05 13:59] drbenmorgan commented on #16
PR£ 23 merged, so closing issue

[2017-06-05 13:59] #16 closed

[2017-06-06 16:30] noeroy opened #30 "Flsimulate: Generate particles with specified energy spectrum (Falaise3)"
Hello, could it be possible to add a feature that allows the user to generate particles, specifying the energy spectrum and the type of particle, for instance with a spectrum file?
I've found this spectrum into old Falaise2 files that may have been used before by @cherylepatrick  if that could help illustrating what I ask:

[code]

[2017-06-06 16:45] drbenmorgan commented on #30
I think this can be implemented as the "spectrum mode" functionality of `genbb::single_particle_generator`. That offers parameters:

- `data_file` : path to file containing spectrum data
- `mode` : `tabulated_function` or `histogram_pdf`, must be chosen to match format of input file
- `min_energy` : lower energy bound of sampling
- `max_energy` : upper bound of sampling

Do those supply enough con

[2017-06-06 16:48] drbenmorgan commented on #30
Note that implementation of this will require review and merge of #29 first to confirm that's the correct way to make a new generator available to the user and to test it.

[2017-06-06 21:10] pguzowski opened #31 "Allow flsimulate to load module plugins"
So that for example people can write their own event generators and run them with flsimulate.

The functionality would be similar to that what already exists for flreconstruct.

[2017-06-07 10:21] drbenmorgan commented on #31
Could you outline the uses cases and requirements in a bit more detail please? As #29 and #30 show, event generators can be added easily through config/variants.

What specific event generators are required, and similarly, what other types of module would you want to allow?

[2017-06-07 11:14] pguzowski commented on #31
A reminder that I'm running as a (semi?) end-user, not a developer, I have installed bayeux & falaise with cadfaelbrew (I cannot modify or add any code there), so I want to write my own plugin module as can [already be done for flreconstruct](https://supernemo-dbd.github.io/Falaise/writingflreconstructmodules.html).

While tinkering around trying things for #25 I have written two new classes, one

[2017-06-07 11:34] #9 closed

[2017-06-07 12:01] drbenmorgan commented on #31
Thanks @pguzowski that illustrates things very clearly!

I think this can be done, though I think the main challenge will be to make this play nicely with the variant/config system. I can dig into this a bit more, together with the simulation and event/vertex generator, to prepare a design.

[2017-06-07 14:35] pguzowski commented on #25
I have uploaded a brio file that I have generated with a custom genbb & genvtx module, with 48kBq Bi207 source activity & 1ms readout window size: http://www.hep.manchester.ac.uk/u/pguzowski/bi207/flsimulate_48kBq_Bi207_srcs_1ms_readout.brio
I hope this is a useful starting point for people to try out in flreconstruct

[2017-06-08 11:57] drbenmorgan opened #33 "Define structure and version management of Falaise resource files"
As discovered in PR #29, the current system for declaring/defining versions of, and compatibility between, resource files, especially when connected by variants, needs some thought. The major issues highlighted by #29 are:

1. Even a small addition of a new variant (or any other config sections?) requires a complete new version of the category in which the variant sits to be created.
2. This new v

[2017-06-08 13:55] drbenmorgan commented on #25
@pguzowski Is the code for the custom module(s) available anywhere? In relation to #31 it would be a good test/example of the required functionality!

[2017-06-08 16:09] noeroy commented on #30
Yes I think that would be enough.

[2017-06-08 16:22] drbenmorgan commented on #33
I think #29 quite clearly illustrates the issue - in this case all that was required was a non-breaking addition, yet look at the number of files that needed to be changed (even with reuse of older versions), and how that single change propagated through. There's also a fair bit of duplicate info (e.g. specifying files and config in more than one place), though this is more an API issue than the f

[2017-06-12 13:05] pguzowski commented on #25
I have uploaded the code to: https://github.com/pguzowski/snemo_hi_freq_simulation

It isn't really documented, as for now it was just me playing around with it.

Also it uses singleton-style functionality with static class members, because I needed the event generator to communicate with the vertex generator, so you probably won't like it from a good-coding perspective

[2017-06-12 13:12] drbenmorgan commented on #25
Thanks @pguzowski! No problem on the statics - can always be fixed later if required.

[2017-06-16 13:57] drbenmorgan opened #34 "Implement Travis CI for testing Pull Requests"
Add support for building and testing Falaise pull requests and `develop` branch using Travis CI. This will require integration with other items in the CI project, particularly SuperNEMO-DBD/cadfael-deployment#2. The primary tasks are:

1. Provision of a suitable `.travis.yml` file to support linux/docker and OS X builds. An example is implemented in https://github.com/drbenmorgan/BoostExamples
2.

[2017-06-20 14:28] goliviero opened #36 "Crash link to ROOT and Cling error when executing fecom program"
I'm working at cclyon with Yves's cadfael installation so I don't have any permission to update / upgrade and here is the path installation : `/sps/nemo/sw/simulation/install_brew/cadfaelbrew/`

My code located in trunk/companions/fecom/programs/hc_data_quality.cxx is not committed in this repository for the moment but here : https://github.com/SuperNEMO-DBD-France/Falaise/blob/fr-devel-fecom/comp

[2017-06-20 14:42] goliviero commented on #36
Ok, François give me a big clue on the error. The data I want to process were serialized with ROOT5 and I try to deserialize them with ROOT6 so it is not backward compatible because when I serialized the input data with ROOT6, the bug disapear

[2017-06-20 15:02] drbenmorgan commented on #36
Right, this is related to #15 - it's not clear yet if this is brio bug or differences in the data/metadata layout (expected tree names). ROOT files created with v5 should be forward compatible, i.e. readable, with ROOT6.

[2017-06-20 19:28] xgarrido commented on #24
Event header cut allows to select events given a list of run/event id number. To use it within ```flvisualize``` you need to enable the Complex selection box. Nevertheless, to achieve it you have to first give a cut manager to ```flvisualize```. For instance, here is a minimal example of what a cut manager configuration file should contain

[code]
and the ```event_header_cuts.conf``` file can hold

[2017-06-28 15:34] drbenmorgan opened #41 "Update CONTRIBUTING guide with auto-closing and PR review guides"
To main items to add to the CONTRIBUTING.md guide:

- When making a PR that fixes a reported issue, describe the markup/text needed to auto-close the issue when the PR is merged. Described in the [GitHub blog](https://github.com/blog/1506-closing-issues-via-pull-requests) with links to the docs.
- For PR Reviewers, describe how to test the changes locally, and when this is required. Outline the ba

[2017-07-03 15:22] drbenmorgan commented on #24
As the primary request is met by #42, I'm closing this issue - #35 is an additional enhancement!

[2017-07-03 15:22] #24 closed

[2017-07-05 11:46] edbird opened #43 "Out of date Falaise Install Instructions since migration from SVN to GIT"
The instructions accessible at this location
https://supernemo-dbd.github.io/Falaise/flinstallguide.html
are out of date since the migration from SVN to GIT.

I have never logged an issue on github before so if I did this wrong please let me know by either contacting me on the software channel or by emailing edward.birdsall@postgrad.manchester.ac.uk
thank you.

[2017-07-26 11:31] #34 closed

[2017-08-02 09:36] lecdawson opened #46 "flptd2root.py segmentation violation"
Hi,
I have been trying to run flptd2root.py on reconstructed files that include gamma tracking. This should be possible as Cheryl has successfully run the code on her mac. I have recently upgraded falaise but I get the following error when I run the script:

Error in cling::AutoloadingVisitor::InsertIntoAutoloadingState:
   Missing FileEntry for /tmp/bayeux-20170509-83837-laq70k/Bayeux-3.0.0/sourc

[2017-08-02 09:37] cherylepatrick commented on #46
Hi Lauren, just trying to remember - did you also try it on a file that didn't include gamma tracking, with the same result? I think yes?

[2017-08-02 09:38] lecdawson commented on #46
Hi Cheryl, yes I did. Same problem regardless if gamma tracking is included.

[2017-08-02 10:51] drbenmorgan commented on #46
Please raise this in the https://github.com/SuperNEMO-DBD/PTD2Root issue tracker

[2017-08-02 10:51] #46 closed

[2017-08-23 10:04] cherylepatrick opened #47 "GammaTracking - centres of scintillator blocks"
The gamma tracking module claims to assume the calorimeter block vertex is the centre of the block. That looks fine for the x-wall and gamma veto blocks. However for the main wall, it is taking the vertex as being halfway back in the little lip at the front of the calo block (rather than halfway back through the whole block, which seems to be what the documentation says, and also what makes the mo

[2017-09-08 11:50] drbenmorgan commented on #43
Resolved in #49

[2017-09-08 11:50] #43 closed

[2017-10-02 13:12] #41 closed

[2017-10-16 14:26] drbenmorgan opened #57 "Add and track metadata in input/output files"
As discussed in the AB meeting, we need to confirm the creation, addition and management of metadata from production (MC/Raw) through to the end of reconstruction (and probably beyond). There are some checks to do first of all:

* [ ] Check that `flsimulate` stores all needed metadata into output data file, and optionally also into an additional metadata file
* [ ] Check that `flreconstruct` propa

[2017-10-20 12:36] cherylepatrick opened #58 "Documentation - vertex generators in flsimulate"
Let's collate the documentation for the vertex generators in flsimulate. At the moment it is a bit spread out over various locations and it is not easy to find out the precise detector location for all the many vertex generators. In some cases a diagram might be helpful.

We should also review the rest of the flsimulate configuration parameters and see if there's anything else in there that isn't

[2017-10-20 12:37] drbenmorgan commented on #58
Related to: #57

[2017-10-20 12:38] cherylepatrick commented on #58
Good places to start:
Falaise/install/share/Falaise-3.0.0/resources/config/snemo/demonstrator/simulation/vertexes
Falaise/trunk/documentation/flsimulate /FLSimulateVariantsDoc-2.1.pdf

[2017-10-20 13:30] cherylepatrick opened #59 "source_pads_surface is broken"
The source_pads_surface vertex generator doesn't work. Tested source_pads_external_surface and source_pads_internal_surface and they are both fine, so it's the act of combining them that isn't set up properly.

[code]
Guessing this just missing a weight so it's probably an easy fix if you know where the file is and what weights you want to use. But I don't.

[2017-10-20 16:00] fmauger commented on #59
A PR has been submitted.

[2017-10-23 11:42] drbenmorgan opened #61 "Implement validation system for simulation, reconstruction"
In preparation for data, a system for validating the simulation and reconstruction implementations is needed. With the current model for data flow, this should probably be split into

* Validation of raw simulation output, before signal/digitization
  - ~~Check that correct Geant4 physics processes/lists are used~~ Store this information in metadata, basically Geant4 version and the name of the pa

[2017-10-23 11:43] drbenmorgan commented on #61
Note - I have assigned relevant coordinators to the issue, but they should also find volunteers for the tasks (see the labels)!

[2017-10-23 11:52] drbenmorgan opened #62 "Split Falaise modules into separate repositories"
As agreed, the processing modules under the `modules` directory should be split out into individual repositories. This is to allow:

* Maintainers to be assigned with a development timescale that will not interfere with that of core Falaise
* Better tagging/versioning control for production of standard pipelines

The main process for the split will be use of git `filter-branch` to retain commit hi

[2017-10-23 11:53] drbenmorgan commented on #62
As they are not currently built directly by Falaise, `AnalogSignalBuilder` and `Digitization` are good candidates for initial work.

[2017-10-23 12:21] drbenmorgan commented on #62
First proof-of-principle module here: https://github.com/SuperNEMO-DBD/AnalogSignalBuilderModule

That was created following the instruction here: https://help.github.com/articles/splitting-a-subfolder-out-into-a-new-repository/, **NB: be very careful with the push, the filter branch rewrites the local clone, so is a one-off and must not be pushed back to the original Falaise origin!!** Once a sin

[2017-10-23 16:51] cherylepatrick commented on #47
@xgarrido and @scalvez explained to me that this works fine in GammaClustering. So the fix is to use GammaClustering instead of gamma tracking. Is the gamma reconstruction going to be included in the standard reconstruction pipeline? I think it should, and if so, we should be sure to use Clustering rather than Tracking. I don't know how much validation, if any, it needs before it would be included

[2017-10-23 17:01] cherylepatrick opened #63 "Review of reconstruction parameters and defaults"
I think it would be useful to have a review of the parameters available to be passed to the various stages of reconstruction, to ensure that

- We are clear exactly what all of these parameters mean (and they are all explained in one place)
- We know what the default values are set to and why
- Where we are not sure of the best default value for a given parameter, we should make a note and plan fo

[2017-10-24 11:10] drbenmorgan commented on #63
Added @pguzowski as initial assignee as this will primarily be a task for C&R.

Relevant related issues: #62 #57 #33

[2017-10-24 11:15] drbenmorgan commented on #63
I'm in the process of developing a proposal to simplify configuration in `flreconstruct` and make it more robust. It won't _directly_ address @cherylepatrick's points, but should help towards them. It's also related to requests from C&R on preparing standardised pipelines (versioning etc). Once I have a prototype, I'll post more.

[2017-10-25 15:30] xgarrido opened #64 "Bad clang format"
As far as I can see, there are two issues with clang formatting and `rootcint`:

1. The [linkdef](https://github.com/SuperNEMO-DBD/Falaise/blob/develop/modules/EventBrowser/source/inc/falaise/snemo/view/event_browser_linkdef.h#L11) file now exhibits additionnal space arround the `+` character
2. Files that use the `ClassImp` macro (used for callback in `EventBrowser`) have broken indent (see [`sta

[2017-10-26 08:28] drbenmorgan commented on #64
Are there any error messages output by the compiler? I'll look at working around these with regexs/excludes, but useful to have any info that might help test.

[2017-10-26 10:06] xgarrido commented on #64
Actually there are no warnings nor errors raised by the `g++` compiler and everything works (apparently) fine. So I think the first issue regarding the `linkdef` file can be just skipped. The second one mess up the code source indent so fixing it will be good.

[2017-10-27 07:28] #64 closed

[2017-11-07 16:18] cherylepatrick opened #68 "Geometry - Plumb bob at top of pipe"
We need to simulate a calibration source in the put-away position, with the plumb bob raised and hopefully blocking the gammas from the source. Can we make this alternative geometry/point source of gammas?

[2017-11-10 10:31] macolino opened #69 "Reconstruction of 207Bi internal conversion electrons"
Hi,
when I simulate 207Bi events Falaise does not manage to reconstruct properly the internal conversion electron tracks since they are emitted with delay with respect to the decay. What do you sugges to solve this issue ? It would be nice to have the possibility to set this feature in the pipeline.
Thanks,
regards
CM

[2017-11-10 18:09] cherylepatrick commented on #69
@macolino - I'm curious what it does - does it reconstruct the hits as delayed? And does it cluster them but just fail to fit them to a track? I ask because I know that Lauren had to change the default pipeline settings for tracking and clustering delayed hits in order to reconstruct alphas. According to her talk last week, she added `TPC.processing_delayed_hits : boolean = true` to her reconstruc

[2017-11-11 07:52] pguzowski commented on #69
I have talked about this in #25

Also these aren't really delayed (they would have an associated calo hit), they would be the prompt part of another triggered event. But first we need the digitization/trigger simulation to be implemented in software, to treat this properly.

[2017-11-15 16:38] #47 closed

[2017-11-21 12:41] lecdawson opened #70 "Processing/Clustering delayed hits disabled in standard reconstruction pipeline"
`@falaise:config/snemo/demonstrator/reconstruction/pipeline/1.0.0/flreconstruct.conf`, processing of delayed hits is disabled. Work around was to add:
TPC.processing_delayed_hits : boolean = true
to my rec.conf.
Cluster fitting to delayed tracks is also not included in the standard reconstruction pipeline. Added:
line.guess.fit_delayed_clusters : boolean = true
to my rec.conf.

[2017-11-21 13:11] drbenmorgan commented on #69
This is a reconstruction task so assigning to coordinators of the WG to handle directly or find volunteers.

[2017-11-21 13:12] drbenmorgan commented on #70
Reconstruction task, so assigning to C&R WG

[2017-11-24 12:30] lemiere opened #71 "New vertex generator asked for PMT glass bulk"
Dear dev.

Could you provide a pmt_glass_bulk vertex generator ?
I would like to generate Tl/Bi or K in glass bulk.

It should be fine to provide dedicated generators for 5 inch. and 8 inch. PMTs .
The best should be to provide a real map of PMTs per batch production.

Thx,
Yv'

[2017-11-29 11:38] lecdawson opened #72 "Undefined symbol in shared library - SensitivityModule"
When running flreconstruct -i name.brio -p SensitivityModule.conf I see the following error:
 The 'SensitivityModule' library was not loaded ! DATATOOLS_SYS_NAMESPACE says: '/home/ubuntu/SensitivityModule/SensitivityModule-build/libSensitivityModule.so: undefined symbol: _ZTV8TVector3' !

With some further investigation I have found that my libSensitivityModule.so has no dependence on libPhysics.s

[2017-11-29 11:55] cherylepatrick commented on #72
In case this helps: this [CMakeLists.txt](https://github.com/SuperNEMO-DBD/SensitivityModule/blob/master/CMakeLists_template_linux.txt) works for me on the UCL linux cluster (but Lauren is using Ubuntu and UCL has SL6 which I think is a RedHat derivative).

@drbenmorgan do you have any ideas? We are so stuck and confused!

[2017-11-30 11:49] cherylepatrick opened #73 "Energy restriction on simulated interactions"
Similar to, but I think not the same as, issue #29

In the past (Falaise 2), @fmauger  helped me to generate 2nubb events with a lower energy cut-off. (Basically, I was using them for a sensitivity study in which I knew I would make an energy cut, so there was little point in wasting disk space by generating a load of events that were likely to immediately get removed).

Important point in this ca

[2017-11-30 13:01] drbenmorgan commented on #72
What is the output of

[code]
? I've got a suspicion that Ubuntu's linker is using the needed/as-needed options and is thus missing a link somewhere.

[2017-11-30 13:29] lecdawson commented on #72
$ ldd /home/ubuntu/cadfaelbrew/Cellar/falaise/3.1.1/lib/libFalaise.so
	linux-vdso.so.1 =>  (0x00007ffe26f68000)
	libBayeux.so.3 => /home/ubuntu/cadfaelbrew/lib/libBayeux.so.3 (0x00007f2aed846000)
	libboost_filesystem-mt.so.1.63.0 => /home/ubuntu/cadfaelbrew/lib/libboost_filesystem-mt.so.1.63.0 (0x00007f2aed62d000)
	libboost_serialization-mt.so.1.63.0 => /home/ubuntu/cadfaelbrew/lib/libboost_serial

[2017-12-01 12:51] lecdawson commented on #72
Hi Ben,

I have now created a SL6 virtual box and have a fully working system. Therefore, for myself there is no need for this fix. However, this may be an issue that other people come across if using Ubuntu.

[2017-12-12 15:12] robobre commented on #30
I would like to ask if the feature that allows the user to generate particles, specifying the energy spectrum and the type of particle already exists. we need  to generate flat distribution in some energy range. it would be helpful in our simulations.

[2017-12-12 15:26] drbenmorgan commented on #30
See #73 and PR #29

[2017-12-12 15:43] drbenmorgan opened #74 "Review Data Models For Raw/Calibrated Data"
As outlined in the Analysis Board Meeting of 11/12/2017 (see DocDB-4521), we should document, review and implement data models for:

1. The raw data objects, including the so-called "UDD" and "EH" banks
2. The calibrated data objects, mainly the "CD" data bank
3. Define the major interactions between the calibration stage and the conditions database:
    - Use of input raw data to derive calibrati

[2018-01-15 16:59] drbenmorgan commented on #72
See [Issue #8](https://github.com/SuperNEMO-DBD/SensitivityModule/issues/8) in SensitivityModule for a resolution. I'll add documentation on linking modules with libraries outside the core supplied by `flreconstruct`.

[2018-01-19 10:15] fmauger opened #79 "Bug in description of tags for the Falaise urn_db_service"
Directory "resources/urn/db" contains a set of files that describe the dependencies between various
setup published in Falaise for simulation/reconstruction processing.
A graph analysis performed on the current description revealed some cycles in the relationships between some urn nodes related to the management and accounting of variant profiles.
This must be fixed. The current model to manage va

[2018-01-19 10:55] drbenmorgan commented on #79
@fmauger thanks for the report, and we'll await the PR.

I would also add to the todo list additional documentation on the URN model/implementation plus instructions for developers on managing it. This is strongly coupled to #33, #57, and we need to also ensure that #15 isn't repeated. Please review those as part of the PR!

[2018-01-19 13:04] edbird opened #80 "Bug in geiger_reigime.cc / mock_tracker_s2c"
I think I've found a bug. Here is how I came to this conclusion:

I produced a histogram of the cathode_time produced by Falaise after processing the output with my own modules. I then uncommented a line of code in my modules.defs file to set the _plasma_propagation_time_ variable. I left it at the default value. I re-ran the entire sequence from data generation to processing and the output histog

[2018-01-19 13:45] drbenmorgan commented on #80
Yes, it's also used in the TrackFit module: https://github.com/SuperNEMO-DBD/Falaise/blob/develop/modules/TrackFit/source/falaise/snemo/reconstruction/trackfit_driver.h

It doesn't configure it though, hence the difference in the plasma speed. I haven't tracked through `trackfit_driver` to see how critical this is though.

[2018-01-19 13:50] drbenmorgan commented on #80
I've assigned @xgarrido @fmauger and @fmauger initially as the had the main authorship of the Trackfit module.

I guess the question is "where does TrackFit use `geiger_regime` and should its parameters be consistent between each place it's used?". Feels like it should be and needs input from the Calibration group?

[2018-01-19 13:52] edbird commented on #80
If it's as simple as loading that parameter from the config, exactly as it is done in the mock_tracker_s2c_module, then I could fork the current version of falaise (not my own version but the development branch in this repo) and add in the code to do this and submit a PR. Would it be helpful if I was to do this?

[2018-01-19 13:54] edbird commented on #80
Actually that's not helpful at all since this module doesn't seem to use that variable.

[2018-01-19 13:55] drbenmorgan commented on #80
I think we need clarification on use of `geiger_regime` first!

[2018-01-19 14:04] edbird commented on #80
I think what might be happening is that the units in the modules.defs file does not match up with the units expected by Falaise.

cm/us seems to have a value of 0.001.

drift_speed_unit is CLHEP::cm / CLHEP::microsecond

If no value is provided, the default is used. This is: `_plasma_longitudinal_speed_ = 5.0 * CLHEP::cm / CLHEP::microsecond;`

If a value is provided in the config file, eg: "5.0 c

[2018-01-19 14:15] xgarrido commented on #80
The `geiger_regime` is used in `Trackfit` only when recalibration of geiger hit is needed *i.e.* when a delayed alpha track is fitted. With delayed hits, the track fitting do a recalibration of geiger cells and thus needs one function from `geiger_regime` : `calibrate_drift_radius_from_drift_time` (https://github.com/SuperNEMO-DBD/Falaise/blob/develop/modules/TrackFit/source/falaise/snemo/reconstr

[2018-01-19 14:18] xgarrido commented on #80
You should set something like that in your `module.def` file

[code]

The `has_explicit_unit` method force the user to set velocity value with explicit unit otherwise default are given.

[2018-01-19 15:09] edbird commented on #80
I will add two output histograms to demonstrate.

Firstly, here is that line disabled:

![c_cathode_time_default](https://user-images.githubusercontent.com/2939755/35156982-74895d20-fd2a-11e7-98e6-ce2440a16399.png)

And now enabled...
![c_cathode_time_en_5 0_cm_us](https://user-images.githubusercontent.com/2939755/35156992-7bfd7e60-fd2a-11e7-882c-953a794bb185.png)

Here's a more zoomed out version

[2018-01-19 15:09] edbird commented on #80
Just ignore the "fits" they are wrong anyway.

[2018-01-19 17:46] drbenmorgan commented on #80
@edbird , I _think_ (it's Friday afternoon...) there is a bug here. If we compare the logic in how the keys and values are extracted between `sigma_cathode_time` and `plasma_propagation_speed`

https://github.com/SuperNEMO-DBD/Falaise/blob/36806ea1261b4bb714edf300ac3a196b0d739097/source/falaise/snemo/processing/geiger_regime.cc#L68-L88

they are different in the check on the presence of the unit.

[2018-01-19 19:10] xgarrido commented on #80
You are right @drbenmorgan . I just proposed a quick fix in PR #81 but I also think your pseudo code will be better. I do not like the idea to leave the user with a default unit. If the user decides to change a parameter then he has to take care of the unit. Otherwise your `fetch_real_with_explicit_dimension` must throw an exception. Since the module configuration are full of these kind of check,

[2018-01-20 16:59] edbird commented on #80
Ah I should have been able to spot that - the issue is with the true/false inversion due to the presence of `!` ?

I would suggest it would be a good idea for the user to be able to configure both the value and the unit. So, if a value is supplied, a unit should be mandatory, and if the user does not provide one, a terminal error should be thrown.

I don't think it would be a good idea to "assume"

[2018-01-22 09:37] #80 closed

[2018-01-23 21:55] HanFangXie opened #83 "failed to grab CD bank"
I am running flreconstruct -i Bi214_anode_wire_bulk.brio -p ../SensitivityModule/SensitivityModule.conf
and see this error:

Error in cling::AutoloadingVisitor::InsertIntoAutoloadingState:
   Missing FileEntry for /tmp/bayeux-20180113-82641-1nv6yqc/Bayeux-Bayeux-3.0.0/source/bxbrio/include/brio/detail/brio_record.h
   requested to autoload type TArrayCMod
Error in cling::AutoloadingVisitor::Insert

[2018-01-24 10:01] drbenmorgan commented on #83
@cherylepatrick, looks like a SensitivityModule issue?

[2018-01-24 10:09] cherylepatrick commented on #83
@HanFangXie is there any chance you are running this on a simulated file rather than one that has been fully reconstructed with the basic flreconstruct pipeline? That's the error I'd expect to see in that case.

As an aside, are you sure you should be looking at anode wires? I think you want field wires. We will talk about this later today.

[2018-01-24 12:11] HanFangXie commented on #83
Hi All,
Sorry about that. Yes, I used the wrong brio file which is only a simulated one. I should used the fully reconstructed one.
And, I agree with Cheryl. Field wires would make more sense coz radon decay products are normally positive.

[2018-01-24 12:12] #83 closed

[2018-01-24 14:18] cherylepatrick opened #84 "Extracting metadata from brio files"
Is it possible in a pipeline module to get at metadata about your input brio file? In an ideal world, I would like to be able to access things like

- Version of Falaise it was simulated/reconstructed with
- Simulation parameters (e.g. vertex generator, primary event type)
- Versions of reconstruction modules it has passed through or some kind of unique identifier for the pipeline script maybe?

I

[2018-01-26 10:06] cherylepatrick commented on #57
As suggested by @drbenmorgan (thanks Ben), adding my request from #84 to this issue:

I'd like to be able to take metadata from the simulated/reconstructed files I use for analysis, and extract it to the root file produced by SensitivityModule (so we can always be sure of exactly what we are looking at when we run analysis). Examples of what I'd like to be able to store would be:

- Version of Fal

[2018-02-02 13:42] drbenmorgan commented on #72
Closing this as "fixed" by #78

[2018-02-02 13:42] #72 closed

[2018-02-05 10:02] #79 closed

[2018-02-06 18:40] pguzowski commented on #74
Can you explain more about the UDD & EH databanks? You links to the documentation are 404ing, and there is nothing explaining what they are for in ddb 4521

[2018-02-07 11:54] drbenmorgan commented on #74
@pguzowski links should now be fixed. DocDB 4521 has additional DocDB ids where there's some info on the banks: DocDB-4504, DocDB-4467, DocDB-4254  (Calibration/Reconstruction side: DocDB-4483). "UDD" is basically the raw event data (so geiger, calo etc), "EH" is event level metadata, likely counter, timestamps and so on.

[2018-02-07 16:39] cherylepatrick opened #85 "Weird flreconstruct Heisenbug"
For the same input simulated file, and the same config file, flreconstruct sometimes completes and sometimes crashes. On a longer file, it seems like it will always crash (but I've reconstructed that file without problems in the past). Any ideas?

[code]
I've tried it with a couple of config files, including one that I've been using for a long time and which we used for the MCC1 reconstruction.  F

[2018-02-07 16:41] cherylepatrick commented on #85
One of the config files I used:
[code]
Any ideas? Sure I have done something silly...

[2018-02-07 16:45] cherylepatrick commented on #85
OSX Sierra, Xcode 9.2,
* Falaise : 3.1.1 (d9836ca7-dirty)
* Bayeux  : 3.0.0
* Boost   : 106300
* Geant4  : 9.6.4

[2018-02-08 12:19] drbenmorgan commented on #85
A seg fault might indicate something is trying to access a null pointer. If that's the case, it's happening in this member function:

https://github.com/SuperNEMO-DBD/Falaise/blob/af8743c130f9051649f6516b873dd98113593c63/modules/GammaClustering/source/falaise/snemo/reconstruction/gamma_clustering_driver.cc#L483-L523

though nothing pops out. The only recent change was #77, so @xgarrido will have a

[2018-02-08 13:58] cherylepatrick commented on #85
Thanks @drbenmorgan ! I tried to do that (I shoved in an extra `make` after the `cmake` line, but I think I maybe didn't get it quite right because when I got the segfault, it still said it had "no debug info". Did I need to pass something to `make` to get it to make in debug mode?

[2018-02-09 08:54] drbenmorgan commented on #85
@cherylepatrick, could you rebuild as follows please:

[code]

The `VERBOSE=1` flag will print out each compile command used - can you check that these include the needed flags `-O2 -g`?

[2018-02-12 11:24] cherylepatrick commented on #85
Yep, they do.

[2018-02-12 14:55] cherylepatrick commented on #85
Honestly I don't really need to be running a special version of Falaise anyway - I had it a while ago for some extra flvisualize functionality but that is now in the release version. Do you know how I can set thing back so that CadfaelBrew will just switch to using nice regular 3.1.1?

[2018-02-12 16:53] pguzowski commented on #74
Is there anywhere we should be doing this work? I.e. a shared document...

[2018-02-13 10:24] drbenmorgan commented on #74
@pguzowski, right here in the comments! It's a discovery/discussion exercise at this point, so useful to link to code, add snippets etc. Once we converge on structures/design, it can be written up as a tech note.

[2018-02-13 14:53] pguzowski commented on #74
From the point of view of the tracker

UDD will need for each event, a list of geiger digits.
A geiger digit is made of a channel ID and 7 timestamps (anode t0, t1, t2, t3, t4; bottom cathode; top cathode). I assume the timestamps will be relative to the trigger time, probably stored in the EH.

CD will store tracker hits.
A tracker hit has some geometric ID,  a radial distance and longitudinal po

[2018-02-14 14:29] drbenmorgan commented on #74
Thanks @pguzowski! So sketching things out as they stand:

[code]

Here I've only sketched attributes - one thing it highlights is the need to identify what `TimeType` and `TimeStamp` should be, plus the `Channel\GeometryId` (and how these map to each other).

Existing currently are https://github.com/SuperNEMO-DBD/Falaise/blob/develop/source/falaise/snemo/datamodels/raw_tracker_hit.h and https://

[2018-02-14 14:50] goliviero commented on #74
Hi,
For the commissioning of Feb 2017, I code some classes in fecom (front-end commissioning) for Raw Data parsing :
https://github.com/SuperNEMO-DBD/Falaise/tree/develop/companions/fecom/src/libs/libfecom/fecom

The idea was to parse the Raw Data text files produce by the Front-End Boards, serialize the hits and pack calorimeter and tracker hits into events.
In this way, I also did a first  'even

[2018-02-19 12:57] drbenmorgan commented on #74
@goliviero definitely useful! I noted a few references to "SNDER":

https://github.com/SuperNEMO-DBD/Falaise/blob/fd289cf9531be22cd5e72d94d3eb60977d685acf/companions/fecom/src/libs/libfecom/fecom/tracker_hit.hpp#L154-L155

Is this on DocDB, if so which ID?

[2018-02-19 13:13] goliviero commented on #74
The SNDER (SuperNEMO Demonstator electronics reference) ID on doc db is #2557.

[2018-02-23 17:30] pguzowski commented on #74
I think we should add some sort of calibrated time (probably of the time the underlying charged particle passed through the cell) to the calibrated tracker hit

[code]

[2018-03-01 11:55] wausain opened #86 "Implement custom magnetic field mapping in flsimulate"
Within the falaise software I found the option of adding a mapped field to the simulation configuration file and there was an example mapping 'Map0' present.

I looked at the mapping files but cannot figure out how they work and  how they can be implemented. I can run the simulation with the Map0 file but would like to create my own mapping files to test but am unsure as to how.

[2018-03-09 11:10] cherylepatrick commented on #30
Hello! Can I check the status of this one please, @drbenmorgan @fmauger ? I think this will be what we need for the shielding analysis, but we might need additional help in working out how to use it.

[2018-03-09 11:17] drbenmorgan commented on #30
See #75

[2018-03-16 16:44] fmauger opened #89 "flvisualize (G)UI: Event counter in the menu bar overflows while browsing event in sequential reading mode (xml)"
Browsing an XML output file by flsimulate with flvisualize, when we reach the last event in the sequence, it is still possible to click on the [>] "next event" button. The event counter in the left bottom corner is then incremented and the displayed event is frozen to the last one in the sequence. This is strange and confusing.
One would expect the end of the stream could be detected and that the

[2018-03-19 20:51] drbenmorgan opened #90 "Design and implement database access in Falaise"
Kicked off by @emchauve 's mail to the Software list:

[2018-03-19 20:55] drbenmorgan commented on #90
Some initial considerations:

- Basic interface, i.e. how should modules access DB info? This completely independent of the underlying connection/C++ implementation.
- datatools::properties would not be a suitable technology because it won't scale.
- Should investigate existing "cache database results for offline usage" technologies as these should be common (e.g. web browsers caching pages).

[2018-03-20 16:33] fmauger commented on #86
Bayeux provides only the basic interface to declare/instantiate EM field objects of simple types:
`emfield::uniform_magnetic_field`, `emfield::oscillating_field`,  `emfield::linear_combination_field`,
`emfied::multi_zone_field`...
There is no native support for mapped/interpolated fields so far, because there is no
standard format for E/B map files to be parsed before usage.
The solution in Falais

[2018-03-23 16:24] drbenmorgan commented on #19
Closing this as outdated, and that `ninja` builds have been running through CI for a while now without issue. Please reopen if required.

[2018-03-23 16:24] #19 closed

[2018-03-23 16:28] drbenmorgan commented on #30
Fixed by #75

[2018-03-23 16:28] #30 closed

[2018-03-23 16:30] drbenmorgan commented on #73
Fixed by #75

[2018-03-23 16:30] #73 closed

[2018-03-23 16:34] drbenmorgan commented on #85
I'm closing this for now, let's revisit as and if this reoccurs through MCC2.0

[2018-03-23 16:34] #85 closed

[2018-03-23 16:36] drbenmorgan commented on #8
@cherylepatrick, @goliviero, @fmauger, could you check to see if this is fixed by #28 and in the 3.2.0 release please?

[2018-03-23 16:38] cherylepatrick commented on #8
@drbenmorgan Yep, I will take a look at it

[2018-03-26 16:45] cherylepatrick commented on #59
I've installed Falaise 3.2.0 and I am still seeing this. I looked at ~/CadfaelBrew/share/Falaise-3.2.0/resources/config/snemo/demonstrator/simulation/vertexes/4.1/generators/source_vg.def
 and it is still the old version with the bug. Am I missing something?

[2018-03-26 17:00] cherylepatrick commented on #8
@drbenmorgan Confirmed this is fixed in Falaise 3.2.0.

[2018-03-26 19:34] fmauger commented on #59
Hum! I though it was fixed. I have to check. Maybe it is still blocked in some of my branches.
Let me have a look ASAP !

[2018-03-26 21:32] cherylepatrick commented on #59
Thanks @fmauger ! It might be that I installed it wrongly...

[2018-03-26 21:58] fmauger opened #91 "Falaise's system library does not lock its URN Db Service before registration"
Falaise publishes a set of official URNs, corresponding to specific experimental/simulation/reconstruction setups with associated configuration & data files, through a dedicated _system_ URN Database Service.
The service is instantiated as a singleton of the `falaise::detail::falaise_sys` class.
When loaded, the URN Database Service registers itself to the Bayeux datatools' kernel, making itself v

[2018-03-27 09:31] cherylepatrick commented on #61
Assigning myself 'cos I am working on this.

[2018-03-27 18:52] drbenmorgan commented on #91
For future PRs, it would be cleaner to just submit the PR with the above information in. Also, please provide a minimal example exercising/demonstrating the bug.

[2018-03-27 18:54] #91 closed

[2018-04-05 13:35] goliviero commented on #59
Same issue here, I intalled Falaise 3.2.0 and still get the error.
I think I've got the solution, the PR https://github.com/SuperNEMO-DBD/Falaise/pull/60 hasn't been approved and merged on the develop branch...
The error is still here on this file : https://github.com/SuperNEMO-DBD/Falaise/blob/develop/resources/config/snemo/demonstrator/simulation/vertexes/4.1/generators/source_vg.def
``
[name="s

[2018-04-09 11:39] #59 closed

[2018-04-10 10:06] fmauger commented on #69
Next Bayeux release (3.3) will provide a wrapper generator, namely "genbb::time_slicer_generator" which will be able to split a Bi207 primary decay in two parts:
- the "prompt" event with only prompt particles emitted *before* a time threshold set by the user
- the "delayed" event with only particles emitted "after' the time threshold

A typical config will look like this:
[code]
Such a generator

[2018-04-11 08:58] lemiere opened #94 "Missing official-2.0 reconstruction file in install directory"
Hi,

@yramachers , @cherylepatrick , @emchauve
I installed Falaise 3.2 for MCC2..0.
I tried to reconstruct events but the ressource file : official-2.0.0.conf is not in install dir.

We need to source `resources/_BuildResourceList.sh` to create a new `_resources.cmake`
That file had to be push on git repo. and distributed in Falaise3.2 release.

 Yves

[2018-04-11 16:10] lemiere opened #97 "MCC2 request : Add new primary event -- Rh106"
Hi,

@fmauger
We need a new feature in Falaise to generate Ru106 events (Available in Bayeux/genbb/decay0)
Simulation/2.3
   |-> Primary_event/1.4
            |-> more_bkd.def

Regards,

[2018-04-19 12:03] lemiere opened #98 "MCC2.1 request : Event generator and new geometry -- Sn124"
Hi,

After Coll. meeting discussions, is that possible to propose new generator for  Sn124 BB source ? @fmauger
The geometry is to define (source dimension/position) -- @emchauve
 Sn124 isotope is avaible in decay0

Thx
Yves

[2018-04-27 20:45] cherylepatrick opened #99 "official-2.0.0.conf - gamma clustering crashes with Falaise 3.2"
I'm trying the official 2.0.0 pipeline config with a fresh falaise 3.2 install, but the reconstruction crashes. Error indicates it's from the gamma clustering (and taking this module out of the config works). Crash doesn't seem to be exactly replicable from run to run - I can re-run on the same file and it might get further or less far through processing the file. We've run gamma clustering on big

[2018-04-27 22:00] cherylepatrick commented on #99
Mostly making notes before I ignore this for the weekend - I tried Lauren's bare-bones reconstruct pipeline on the same input file, and it ran ok and reconstructed gammas. (But it was a beta beta file so not a lot of gammas to reconstruct). Tried it again on a sample with more gammas and it segfaulted. Ran it AGAIN on that same file and it didn't segfault but it only reconstructed 86 of 999 events

[2018-04-27 22:42] cherylepatrick commented on #99
Ooh just noticed this:
[code]

[2018-04-30 17:03] drbenmorgan commented on #74
@goliviero, @lemiere (and cc'ing @yramachers, @macolino for comment if required), I'd like to follow up on a couple of items from [DocDB-4612](http://nile.hep.utexas.edu/cgi-bin/DocDB/ut-nemo/private/ShowDocument?docid=4612) presented at the last collaboration meeting. Specifically, the proposed data flow from Slides 3, 4:

[code]

1. Are the `tracker_digitized_hit` and `calo_digitized_hit` struct

[2018-04-30 17:05] drbenmorgan commented on #74
One further item: the current `tracker_digitized_hit` and `calo_digitized_hit` structs have no data members that identify which channel (physical/electronic) they originate from. How will this be addressing be done?

[2018-04-30 17:49] goliviero commented on #74
So, the  `tracker_digitzed_hit` and  `calo_digitized_hit` should have 2 GIDs. One for the Geometrical ID and the other for the Electronic ID. I totally forgot them in my presentation... They should inherit from a  `base_hit` and probably the `geomtools::base_hit`.

On the other points, things are not that clear for the moment :
1. I dont think they will be the same because in the RHD it come from

[2018-05-01 11:39] drbenmorgan commented on #74
O.k., these should be fully documented ASAP in Section 8 of DocDB #2557 (most things appear there, but not everything).

Agreed on saving the stream, and I'd encourage some thought and discussion now on the format so we have a heads up on any additional requirements for external packages, and have a rough idea of what it'll take to read the files.

[2018-05-17 13:59] #94 closed

[2018-05-18 19:03] cherylepatrick opened #102 "No falaise programs running due to libicudata version"
flsimulate, flreconstruct crash with this error. It's not wrong - since doing a brew upgrade the other day (to try and fix something else... it is not my week...), I have v61 of this library. Do you know how I can get it to look for the right one?

[code]

Sorry for this, everything is going wrong this week.

[2018-05-21 09:41] drbenmorgan commented on #102
@cherylepatrick, should be fixed by a revision bump in icu4c dependents. Try

[code]

You should see boost, Bayeux and Falaise rebuild/install...

[2018-05-21 09:58] cherylepatrick commented on #102
Thanks @drbenmorgan - boost is updating now so hopefully it will go well.

[2018-05-21 11:49] cherylepatrick commented on #102
Fixed! Thanks @drbenmorgan !

[2018-05-21 11:58] #102 closed

[2018-05-22 09:01] #97 closed

[2018-05-25 12:16] drbenmorgan commented on #98
Fixed in #104 104

[2018-05-25 12:16] #98 closed

[2018-06-05 08:53] #71 closed

[2018-06-05 13:35] drbenmorgan commented on #99
Hi @cherylepatrick, I haven't had time to look at this in detail, but have been able to partially reproduce the error in the gamma clustering test. This is on the current `develop` branch, but gamma clustering hasn't been touched since 3.2.0, so should be reproducible, albeit it still seems to happen randomly.

All I did was, using the tip of the Falaise `develop` branch:

1. Create build director

[2018-06-13 13:35] wausain opened #109 "Qt5-base install error"
I'm finding issues installing falaise, specifically qt5-base with _brew install falaise_ .
Running macOS High Sierra version 10.13.5

I'm getting a huge error when attempting to install the qt5-base dependency. The end of the error is:

**_wcontainer_mac.o  -F/private/tmp/qt5-base-20180613-17557-11pii30/qtbase-everywhere-src-5.10.0/lib -framework QtGui -framework QtCore -framework DiskArbitration

[2018-06-13 14:08] drbenmorgan commented on #109
@wausain repost this on [supernemo-dbd/homebrew-cadfael](https://github.com/SuperNEMO-DBD/homebrew-cadfael) and follow the instructions the new issue template provides please.

[2018-06-13 14:08] #109 closed

[2018-06-26 11:40] wausain opened #110 "Flreconstruct Crash/Error"
Brew doctor and brew update show no issues.

### Bug reports:
Crashing during reconstruction (flreconstruct) but only for >~10 events. Seems to be caused by trackfit or charged particle tracking.

_HOMEBREW_VERSION: 1.6.9-27-g7db0f97
ORIGIN: https://github.com/Homebrew/brew
HEAD: 7db0f97523415917625bd6136076092b5c4977dd
Last commit: 20 hours ago
Core tap ORIGIN: https://github.com/Homebrew/homebre

[2018-06-26 11:49] drbenmorgan commented on #110
@wausain, can you list the commands you used to run `flreconstruct` please? If that included generation/use of a simulation file, please also let us know how to generate/obtain that.

[2018-06-26 11:53] wausain commented on #110
flsimulate script:

_#@format=datatools::configuration::variant
#@format.version=1.0
#@organization=snemo
#@application=falaise

[name="flsimulate" type="flsimulate::section"]
numberOfEvents : integer = 100

[name="geometry"]
layout = "Basic"
layout/if_basic/magnetic_field = true
layout/if_basic/magnetic_field/is_active/type = "UniformVertical"
layout/if_basic/magnetic_field/is_active/type/if_unif

[2018-06-26 12:43] cherylepatrick commented on #110
Just to clarify - does it always crash on the same event? If you have a different input file, does it still crash on the same event number (even if the events are not the same)? And @drbenmorgan - quick question - can you remember whether the random number seed in flsimulate is constant if you don't specify it? So if you ran flsimulate twice with the same config, and didn't specify a seed, would y

[2018-06-26 13:07] wausain commented on #110
@cherylepatrick It doesn't look to crash on a specific event, it just crashes and fails to run.

From the terminal output:

_[notice:void datatools::library_loader::init():450] Automatic loading of library 'Falaise_CAT'...
[notice:void datatools::library_loader::init():450] Automatic loading of library 'TrackFit'...
[notice:void datatools::library_loader::init():450] Automatic loading of library '

[2018-06-27 11:58] drbenmorgan commented on #110
Thanks @wausain, @cherylepatrick, I've been able to reproduce the error, and it looks to be the same "EXC_BAD_ACCESS" error we've seen in gamma tracking/clustering (but seemingly not from that). It also seems to happen in _the default setup as well_.

I'll post what I have so far here, but this is going to need some reinstall (it's possible something on macOS system or brew libs has changed) and l

[2018-06-27 12:01] drbenmorgan commented on #110
Possibly related to BxCppDev/Bayeux#20

[2018-06-27 12:59] cherylepatrick commented on #110
Thanks @drbenmorgan . Appreciate your help - these segfaults are a nightmare.

[2018-06-27 13:50] drbenmorgan commented on #110
O.k., I've reinstalled Falaise from scratch on current macOS/Xcode and the problem persists, so it is not due to macOS or brew issue. More to follow...

[2018-06-27 14:21] drbenmorgan commented on #110
Tried reinstalling both Bayeux and Falaise in full Debug mode, same effect, no additional info so trying a debug build locally.

[2018-06-27 15:02] drbenmorgan commented on #110
Right, local development build of Falaise with the 3.3.0 tag, plus standard brew install of Bayeux (so that's in Release, optimised, mode). Building Falaise with `CMAKE_BUILD_TYPE` as `Debug` and running the same scripts as above, I _cannot_ reproduce the error. Changing the build mode to `RelWithDebInfo` (or `Release`) reproduces the error, with the errorr now being:

[code]

Full backtrace in th

[2018-06-27 15:03] drbenmorgan commented on #110
@fmauger, could you take a look at this and provide a fix please as it is heavily coupled to Bayeux/Boost serialisation?

[2018-06-27 16:17] wausain commented on #110
Thank you @drbenmorgan I've managed to install in Debug mode and it seems to be working fine so far.

[2018-06-28 16:29] drbenmorgan commented on #110
A little further info, I've tried an experimental build with a newer version of Boost (1.66) and C++14. Whilst this is a little hacky (doesn't include flsimulate yet, Boost doesn't use icu4c), it can read and run the default pipeline over yesterday's simulation output in Release/RelWithDebInfo modes. That could suggest an issue in our production Boost version (1.63) that the newest Clang compiler

[2018-07-03 13:39] emchauve opened #111 "flsimulate-configure bug with falaise 3.3.0"
using latest release of falaise (3.3.0, when selecting primary event "flat_versatile_generator" or "tweakable_generator" with the Qt interface flsimulate-configure, the associated variant options keep staying disabled:

![flat_versatile](https://user-images.githubusercontent.com/28624059/42222910-b94182b6-7ed6-11e8-9979-21111ae5fe68.png)

[2018-07-03 13:54] drbenmorgan commented on #111
Assigning to @lemiere and @fmauger . This looks like it may be related to the changes between the PR that introduced the feature, #75, and updates in 3.3.0, #101, #104 and #105. One of those has likely overidden the config somewhere.

[2018-07-11 14:12] lemiere opened #112 "Add realistic source geometry based on Andrea's document"
Hi,

For more realistic simulation production, we need to define the real source geometry.
It's imply new geometry, new vertex generator, geant4_control stuff.

[2018-07-11 16:44] lemiere commented on #112
Ready for a PR but realistic materials have to be update with right Se82 enrichment.

[2018-07-17 12:43] drbenmorgan opened #115 "Performance Improvements to FLSimulate"
As discussed in the July AB meeting[*], several performance bottlenecks have been identified in `flsimulate` (ultimately in `bayeux/mctools`). As part of preparing the simulation for comparison/validation with real data, these need review and fixing as part of overall tasks:

1. Identify and optimize performance bottlenecks in `flsimulate` and `Bayeux/mctools` usage.
  - All other aspects should b

[2018-07-20 15:30] cherylepatrick commented on #99
Running with a config file from @Tedjditi I still see problems with that same bit of code, but this time it reports it properly as it crashes. Geom ID here is clearly garbage:
[code]
(Those numbers should be something like 1302:0.0.0]). I got one where the list was insane - from running on the same file as above, with the same config:

[code]
I think maybe I need to try and get the debugger workin

[2018-07-23 13:38] #111 closed

[2018-07-23 13:40] drbenmorgan commented on #115
Thanks @fmauger, adding you to assignees!

[2018-08-03 07:49] lemiere opened #116 "New feature requested for MCC2.1 : New primary event generator"
Please,
Provide double beta decay at high energy :
Nd150.2nubb_2.5MeV
Ca48.2nubb_3.2MeV

Merci

[2018-10-12 08:00] drbenmorgan opened #117 "Support reading ROOT files from xrootd"
As reported by @emchauve in SuperNEMO-DBD/homebrew-cadfael#51, ROOT files can be read directly in the interpreter using an xrootd URL, but `flreconstruct` cannot.

I suspect this is down to this line:

https://github.com/SuperNEMO-DBD/Bayeux/blob/8e9f2b638fd52c6c65c7cee5b4bd890c78071124/source/bxbrio/src/reader.cc#L194

in Bayeux. That, IUC, tries opening on the local filesystem. The generic way t

[2018-10-12 08:05] emchauve commented on #117
I patched it yesterday, it fixed the reader within Bayeux indeed, but not for `flreconstruct`. I suspect that it is trying to read some argument through the file path `root://ccxroot.in2p3.fr:1999//hpss/in2p3.fr/...`

[2018-10-12 08:19] drbenmorgan commented on #117
That makes sense, so at least easy to see if it passes the correct URL to `TFile::Open`. I've added @fmauger as he'll know better what preprocessing is done the URL.

[2018-10-12 08:37] emchauve commented on #117
It looks to be related on failure to read metadata

[2018-10-12 08:50] drbenmorgan commented on #117
How did you generate the test file from `flsimulate`? Did you use defaults, or store the metadata in a separate file?

Are you able to copy the file locally (`xrdcp`?) and run?

[2018-10-12 11:02] emchauve commented on #117
I used defaults setting. Here is my working directory with variants and configuration file:
/sps/nemo/scratch/chauveau/software/test

Yes, the file can be retrieve with xrdcp, and flreconstruct is reading well the local copy.

[2018-10-12 11:43] drbenmorgan commented on #117
I think you'll have to dig into the `brio_reader` to check that it's getting/passing the full `root:` URL needed. I suspect from the error that it probably is, and if so there's going to be something in the way it accesses the metadata that isn't compatible with xrootd...

[2018-10-12 12:50] drbenmorgan opened #118 "Metadata not reconstituted correctly from input files"
The intent of the "GI" store in ROOT files output by flsimulate is to store metadata about the provenance of the event data in the file, so later processing steps can ensure critical things like geometry, parameters are matched.

Whilst flreconstruct does read the metadata store, it appears to largely ignore it, most significantly the geometry and variants. It appears that only the main "experimen

[2018-10-12 12:51] drbenmorgan commented on #118
I'll cross reference #117 here, as whilst I don't think it's directly related, it does touch on metadata.

[2018-11-01 15:45] drbenmorgan opened #119 "Tests not using current resource files"
We have three tests:

- source/falaise/snemo/testing/test_snemo_geometry_gveto_locator_1.cxx
- source/falaise/snemo/testing/test_snemo_geometry_retrieve_info.cxx
- source/falaise/snemo/testing/test_snemo_geometry_xcalo_locator_1.cxx

Still using `@falaise:snemo/demonstrator/geometry/3.0/manager.conf`, whereas the latest geometry is `4.1`. Using the latest `4.1/manager.conf` results in test failure

[2018-11-05 16:25] lemiere opened #120 "Flsimulate issue for PMT Glass vertexes"
Hi,

I tried to simulate a huge amount of K40 in the PMT Glass bulk (10^12 events)
With Simulation version   :
        * Falaise : 3.3.0
        * Bayeux  : 3.3.0
        * Boost   : 106300
        * Geant4  : 9.6.4

With URN: urn:snemo:demonstrator:simulation:2.3

With variant.profile :
[registry="vertexes"]
generator = "pmt_main_wall_glass_bulk"

[registry="primary_events"]
generator = "K40"

--

[2018-11-06 09:10] drbenmorgan commented on #120
Could you post the minimum `flsimulate` script needed to reproduce the issue please?

Does the terminate happen randomly, always, or after a fixed number of events? The error appears to be in genvtx rather than Geant4, though it's not clear if they are related.

[2018-11-27 13:24] HanFangXie opened #123 "falaise installation does not like my root version 6.14"
I am running MacOS Mojave 10.14.  Recently I noticed that my flreconstruction failed (flsimulation and flvisualise still fine). Same error as Hamzah's repotr:  #110   My reconstruction configuration file was the same as Hamzah's official_config_nohelix.conf.
I followed the homebrew #56 to install everything again. I passed all the installation but still failed flreconstruction on the same error.
I

[2018-11-27 13:31] drbenmorgan commented on #123
Sorry, I'm not clear on exactly what's going on here. It sounds like everything up to, but not including, Falaise has been installed? ROOT has been upgraded to 6.14.06, and then `brew install falaise` attempted?

[2018-11-27 14:04] HanFangXie commented on #123
Sorry.
Recently I found my flreconstruction failed after I upgrade my MacOS to 10.14 Mojave. Then I followed #56 to instll everything again. And brew upgrade root from 6.12 to 6.14. But flreconstruction failed again for the same reason.
So I tried to build falaise myself rather than using brew, and during this installation, it shows falaise does not like root 6.14.

[2018-11-27 14:09] drbenmorgan commented on #123
Thanks! Did you upgrade root *after* installing everything, but before trying to build falaise?

If so, the error is *probably* coming from Bayeux's use of root. You can try `brew reinstall bayeux` in that case, but will likely ignore the upgraded root because that's from `homebrew/core`. See what happens though.

[2018-11-27 14:14] HanFangXie commented on #123
”error is probably coming from Bayeux's use of root“ I agree!
Yes, I "upgrade root after installing everything, but before trying to build falaise".
Thanks, Ben, I will try brew reinstall bayeux and let you know.

[2018-11-27 14:18] HanFangXie commented on #123
I tried brew reinstall bayeux.

==> Reinstalling supernemo-dbd/cadfael/bayeux
==> Installing dependencies for supernemo-dbd/cadfael/bayeux: supernemo-dbd/cadfael/root6
==> Installing supernemo-dbd/cadfael/bayeux dependency: supernemo-dbd/cadfael/root6
Error: Cannot install supernemo-dbd/cadfael/root6 because conflicting formulae are installed.
  root: because SuperNEMO requires custom root build

[2018-11-27 15:57] drbenmorgan commented on #123
O.k., that's sort of expected... I've updated the tap version of root to allow an install of 6.14.06. To do this you'll need to do:

[code]

Building Falaise against the new root+bayeux should then work...

[2018-11-28 16:00] drbenmorgan opened #124 "Review hardcoding of ROOT include paths in exported targets"
Discovered by @cherylepatrick when using ROOT 6.14.6 on macOS. ROOT's use of new "ROOT" (note case) subdirectory under main include directory can cause  issues on macOS case-insensitive filesystems if the headers are installed in, say, `include/root`. A search path of `include` then `include/root` will cause the wrong headers to be located. The main symptom of this is errors like:

[code]

and sim

[2018-11-28 20:38] cherylepatrick opened #125 "CAT crashing on Falaise 3.3/Mojave/ROOT6.14"
CAT is crashing with a lot of boost errors and I think I probably want the `--devel` version of boost, but I want to check before I go ahead and install it. I'll post my various files and the huge error output in comments. I think this relates to #110 but I'm not sure.

[2018-11-28 20:39] cherylepatrick commented on #125
flreconstruct script that works:

[code]

[2018-11-28 20:39] cherylepatrick commented on #125
flreconstruct script that doesn't work
[code]

[2018-11-28 20:40] cherylepatrick commented on #125
flsimulate config used:
[code]

[2018-11-28 20:41] cherylepatrick commented on #125
Error message
[code]

[2018-11-29 10:21] drbenmorgan commented on #125
Indeed this looks related to #10 and BxCppDev/Bayeux#20. If you could try the workaround proposed in #110, i.e. build Falaise manually with `CMAKE_BUILD_TYPE` set to `Debug`, that would semi-confirm the issue.

I'll prepare a PR to get Falaise building against the latest Boost, as #110 suggests that may solve this (though not identifying the cause...). I've added @fmauger to assignees just to noti

[2018-11-29 12:31] HanFangXie commented on #123
Thank Ben, that helps.

[2018-11-29 12:31] #123 closed

[2018-12-11 15:40] cherylepatrick commented on #110
Hiya, I finally got round to trying this but I'm having trouble `make` -ing Falaise. Was doing OK until I got up to Things2Root:
[code]

I don't necessarily mind if I can't use Things2Root, but since it crashed, it hasn't copied anything to my install directory.

This was the cmake command I used, in case I made a mistake there: `cmake -DCMAKE_INSTALL_PREFIX=../FalaiseInstall/ -DCMAKE_BUILD_TYPE=D

[2018-12-11 17:44] drbenmorgan commented on #110
@cherylepatrick, it should be possible to ignore these by building Falaise with the option to promote warnings to errors off:

[code]

I have tried to fix the issues in Bayeux, but ended up with a cascade failure of additional ones...

You *might* find that there are further issues with boost/bayeux/root, but first things first.

Footnote: Going to higher versions of Boost will be difficult at the

[2018-12-11 18:08] cherylepatrick commented on #110
Thanks, @drbenmorgan,  and sorry this is hassle. I tried what you suggested, but it didn't like it - do I have a typo?
[code]

[2018-12-11 18:09] cherylepatrick commented on #110
Oh I tried with an extra underscore and it's doing SOMETHING at least...
-DFALAISE_COMPILER**_**ERROR_ON_WARNING=OFF

[2019-02-18 03:41] matteoceschia opened #128 "(Wrong) Clustering leads to zero-length reconstructed track"
I ran flreconstruct with the official reconstruction module (see attached .txt) on a 1M Se82.0nu sample and I came across a clearly misreconstructed event (see attached .png).
Two clearly distinct tracks are clustered into a single cluster (in blue). This causes the reconstructed track to have the initial and final vertices at the same position (circle bottom right), so the track has zero length,

[2019-02-18 10:33] yramachers commented on #128
I would simply called that a failed reconstruction. It either went wrong due to an assumption in the TrackFit module or the ParticleTracking module. Listing 3 unassociated calo hits as well as three particles (tracks with associated calo) looks a bit strange too. The clustering does make sense assuming a bouncing electron, foil, calo, foil. Ideally that would be broken into two which would then re

[2019-03-02 20:41] edbird opened #129 "Linker error - CXX program compilation with Falaise"
I am trying to compile and link a c++ program.

Error specifics:

[code]

I have falaise installed and working.

This error occurs regardless of whether I call `eval $(~/snemo-sdk/bin/brew shellenv)` before running cmake.

My CXX file is compiled with cmake.

What further information is required?

I guess I can add my `CMakeLists.txt`

[code]

I am not super familiar with cmake, but this seems ok?

[2019-03-18 10:38] drbenmorgan commented on #117
Currently blocked by https://github.com/BxCppDev/Bayeux/issues/26

@emchauve, I'd chase this up with the Bayeux devs as it's been a while since updates and we're going to need this fairly soon for work at CC-IN2P3

[2019-03-18 17:02] cherylepatrick opened #133 "Standard pipelines"
Not sure if this is an actual Falaise/brew issue or if it is just an issue of docs, but I would like to sort it by next week. I have the new Falaise install on my laptop. http://supernemo.org/Falaise/usingflreconstruct.html claims that I can get to the standard pipeline list by running `flreconstruct --help-pipeline-list` but I think this is not the most up to date list of pipelines and also... th

[2019-03-19 15:10] drbenmorgan commented on #133
Hi @cherylepatrick, I've transferred this to Falaise as I think it's a bug across the `--help-pipeline-list` plus the URNs/Scripts. An outline of the issue/possible solutions are below, apologies for the length as I wanted to get things clear in my mind! @macolino and @yramachers should also take a look as it'll impact scripting of calibration/reconstruction workflows going forward

- The `urn:sne

[2019-03-19 16:43] cherylepatrick commented on #133
Oh interesting! So it's actually kind of split in half at the moment. I'm on board with your proposal, with one possible suggestion - should we keep the `official-1.0.0.conf` etc names, but then make a `production.pipeline.conf` which is symlinked to whatever the current approved version is (2.0.0 at the moment)? Might be easier going forward?

[2019-03-19 16:53] drbenmorgan commented on #133
Yep, that's a better idea for naming, so will prepare the PR on that basis. Worst case if a symlink doesn't work, I'll just direct copy.

[2019-04-18 16:02] emchauve commented on #117
i found finally all the issue(s)!!!

there was first the opening "new TFile" to change into "TFile::Open" => done in develop

source/bxdpp/src/simple_data_source.cc and source/bxdpp/src/simple_brio_data_source.cc is handling case where data file path start with "file://", "https://", "ftp://", etc but not "root://"

in addition, we have to skip the check "boost::filesystem::exists(_filename)" in c

[2019-05-07 12:42] #133 closed

[2019-06-19 09:33] lemiere opened #140 "Add realistic Bi207 source calibration geometry"
Dear all,

Up to now, only 24 Bi207 are defined into the SuperNEMO simulation instead of 42 sources into the real detector.
We need to add the realistic Bi207 source calibration geometry in Falaise to help for the
demonstrator calibration.

Inputs are available in Miroslav Macko dissertation (NemoDocDB-doc-4816-v1)
page 77 Table 3.7 : Final distribution of calibration sources into 42 positions
Bas

[2019-06-19 13:03] drbenmorgan commented on #140
Assignments are provisional, but implementation must have a clear responsible who's going to do the coding and testing/validation on it.

[2019-07-12 11:31] drbenmorgan commented on #36
Fecom is obsolete, so closing.

[2019-07-12 11:31] #36 closed

[2019-07-12 11:32] drbenmorgan commented on #2
Reassigning to @Tedjditi as maintainer of this module.

[2019-07-12 11:33] #8 closed

[2019-07-12 11:34] drbenmorgan commented on #31
Closing in favour of custom simulation module, which can be integrated in flreconstruct and/or Art.

[2019-07-12 11:34] #31 closed

[2019-07-12 11:36] drbenmorgan commented on #15
Closing in favour of migration to full ROOT file format in Impressionist.

[2019-07-12 11:36] #15 closed

[2019-07-12 11:38] drbenmorgan commented on #57
This will be migrated to the new Impressionist framework, likely using Art's Provenance tracking mechanism. I'll leave this open for now until we get an issue up on SuperNEMO-DBD/Impressionist

[2019-07-12 11:38] drbenmorgan commented on #58
@cherylepatrick, was this fixed with the work done for the Annecy tutorial?

[2019-07-14 08:40] cherylepatrick opened #142 "Dead cells and missing cathodes"
I'm labelling this a question for now, but I suspect it's going to turn into a request.

We've found some shorts on the cathodes in the tracker, and I want to understand how the reconstruction will handle them. While we're at it, we should think about dead cells, too.

What I'd like to be able to do (but feel free to suggest alternatives) is:

1. Be able to configure a list of dead anodes and have

[2019-07-15 10:10] yramachers commented on #142
Dead anodes or cathodes would correspond to long-term run conditions and would be in the conditions DB, maybe as a dead readout channel configuration.

On the reconstruction: Each time the concept of a 'neighbour' is being used, a dead channel would be a problem. I don't know whether CAT uses that concept, I suspect it does. The simplest way around that challenge is to always(!) have dead channels

[2019-07-15 12:06] drbenmorgan commented on #142
Assigned to you both for further discussion and implementation. My own feeling is that the "filtering" approach works best since this is independent of the simulation and won't waste CPU cycles.

[2019-07-15 12:07] #125 closed

[2019-07-15 15:38] cherylepatrick commented on #142
Thanks, Yorck! I'm going to add Matteo to this as I think it's a good project for him to investigate.

Using the ideal event generator sounds like a good idea. I haven't used it yet but maybe this is a good time to start - especially if it means we can "edit" events in ROOT. @yramachers - can you remind us where to find it/how to use it?

The radius measurements have uncertainties on them, so I wo

[2019-07-15 15:57] yramachers commented on #142
The ideal event generator is on the SuperNEMO-DBD page as SN-IEgenerator package. The Readme should explain how to work it.

Keeping a dead cell switched on artificially could mean to declare it as radius 0 and radius error as 22 mm. The zero radius should always be taken as minimum permitted, finite radius, and prevent any tangent point calculation with that error other than the whole cell becomi

[2019-07-16 10:19] drbenmorgan commented on #117
Should be fixed in Falaise 4/Bayeux 3.4, please reopen if not.

[2019-07-16 10:19] #117 closed

[2019-07-16 10:20] drbenmorgan commented on #110
Suspect this is fixed by the migration to Boost 1.69.

[2019-07-16 10:20] #110 closed

[2019-08-01 21:35] pfranchini opened #150 "Falaise from Docker not running on old CPUs"
On this sort of CPUs I cannot run Falaise 3.3.0 (or 4.0.0) pulled from the docker (SIGILL: illegal instruction).
Basically this sort of CPU constitutes all the nodes of the "long" queue of the Imperial cluster.
Have you built using `-march=native` ?
Thanks. Paolo

[pfranchi@lxa05 ~]$ lscpu
Architecture:          x86_64
CPU op-mode(s):        32-bit, 64-bit
Byte Order:            Little Endian
CPU(

[2019-08-05 15:32] drbenmorgan commented on #115
This is now retasked as part of the overall modernisation program of Falaise. Issues to be fixed as identified in #149 and Falaise 4 are:

- Fork of the `mctools::calorimeter_step_hit_processor` class into Falaise to give SuperNEMO full control over its behaviour
- Further simplifications to the "step_hit_processors" to remove kludge in algorithms (e.g. non-reuse of base class functionality, paran

[2019-08-05 15:34] drbenmorgan commented on #120
Closing due to lack of requested feedback.

[2019-08-05 15:34] #120 closed

[2019-08-05 15:35] drbenmorgan commented on #116
Closing due to lack of manpower/validation.

[2019-08-05 15:39] drbenmorgan commented on #89
Closing due to zero manpower and higher priority tasks

[2019-08-05 15:39] #89 closed

[2019-08-05 15:41] drbenmorgan commented on #70
Fixed in the current "official" pipeline.

[2019-08-05 15:41] #70 closed

[2019-08-05 15:44] drbenmorgan commented on #99
Going to assign this to @cherylepatrick and @Tedjditi to solve. Whilst it appears Mac specific, that's indicative of some underlying issue in the logic or whatever randomisation is used.

[2019-08-05 15:51] drbenmorgan commented on #90
Adding additional people involved in the discussion.

[2019-08-05 16:13] drbenmorgan commented on #74
To update this, the https://github.com/supernemo-dbd/SNRawDataProducts project will form the basis for the Raw Data side. It builds on the internal data+daq project at Lyon, eventually, as agreed at the Annecy workshop, to be split out here for sharing between online/offline.

@fmauger, @lemiere, could we please have an update on the status of the internal project please? This is needed for critic

[2019-08-05 16:16] drbenmorgan commented on #86
Closing as I think @fmauger's comment fixes this, but reopen if not.

[2019-08-05 16:16] #86 closed

[2019-08-05 16:18] drbenmorgan commented on #33
Closing as fixed by flattening of structure in Falaise 4. Further work on versioning will be done under the database work discussed in #90. GitCondDB seems like a reasonable technology here.

[2019-08-05 16:18] #33 closed

[2019-08-05 16:25] drbenmorgan commented on #128
Closing as it appears discussion has finished/resolved the issue.

[2019-08-05 16:25] #128 closed

[2019-08-05 16:54] drbenmorgan commented on #119
Fixed by #122

[2019-08-05 16:54] #119 closed

[2019-08-05 16:59] drbenmorgan commented on #4
Closing due to lack of updates and manpower.

[2019-08-05 16:59] #4 closed

[2019-08-05 20:47] pfranchini commented on #90
Has any other discussion happened outside of this issue's thread?

[2019-08-07 09:52] drbenmorgan opened #152 "Finding/documenting common geometric calculations"
This is mostly a question for @yramachers, but feel free to comment if you have anything additional!

In working through #149, I found large and relatively kludgy blocks of vector/plane geometry calculations, e.g.

https://github.com/SuperNEMO-DBD/Falaise/blob/3fa8064353accd671c0d29eead8e4e51d3e72937/source/falaise/snemo/simulation/gg_step_hit_processor.cc#L478-739

It would be good to document an

[2019-09-12 22:01] drbenmorgan opened #155 "Task: New C++ Types for Reconstruction/Analysis"
This is a placeholder to remind me ( but cc: @emchauve, @cherylepatrick, @yramachers, @pfranchini for info and any feedback!) on adding new C++ classes to support reconstruction and analysis. It's motivated by #142, #153 and #154 which identified several places in the code that would benefit from new C++ classes model detector/reconstruction features. These would enable cleaner and clearer code, s

[2019-09-14 13:18] cherylepatrick commented on #155
I like your suggestion. And if the "charged" tracks mostly are alphas, the "2" will even be numerically right (not that that needs to matter).

[2019-09-16 13:11] drbenmorgan commented on #155
One other thing whilst I think about it - we often store a measurement and its error as two separate doubles. Would a "Measurement" class be of use? It would, I *think* only work for symmetric Gaussian errors, but would at least keep the values together.

[2019-09-16 13:18] drbenmorgan commented on #124
Now "fixed" as Falaise itself no longer hardcodes paths and uses full imported targets. However, upstream packages like Bayeux may be affected.

[2019-09-16 13:18] #124 closed

[2019-09-16 13:26] drbenmorgan commented on #90
I'll just mention PR #154 here to cross-reference it. A service likely forms the basis of accessing Conditions Data inside the pipeline.

@pfranchini, @robobre will be setting up a meeting next week I think for update/discussion. I'll forward/cc you the details when they're out.

[2019-09-16 14:23] drbenmorgan opened #157 "Task: Rationalize Storage and Retrieval of Metadata in Falaise"
This task is to bring together several issues on metadata into one for coherence sake. Directly affected issues which are merged are:

- #57 On how to track and store data
- #118 On incorrect reconstitution of metadata

Indirect, but related Issues are #90 on Conditions Data access, and demos of the Art mechanisms in SuperNEMO-DBD/Impressionist#6. It's also strongly correlated with data cataloguin

[2019-09-16 14:24] #57 closed

[2019-09-16 14:25] drbenmorgan commented on #118
Closing in favour of #157 for this work.

[2019-09-16 14:25] #118 closed

[2019-09-16 14:28] drbenmorgan commented on #115
See also #157, #61 as simulation metadata is critical for downstream use, especially validation.

[2019-09-16 14:51] drbenmorgan commented on #74
@fmauger, @lemiere, could we have an update on the status of the internal "snfee" project on the Lyon GitLab please? Whilst a [DocDB](http://nile.hep.utexas.edu/cgi-bin/DocDB/ut-nemo/private/ShowDocument?docid=4975) is available, there has been no update to the Lyon GitLab in several months, including review/merge of a Merge Request to improve ROOT output for commissioning analysis.

In going forw

[2019-09-16 15:32] drbenmorgan commented on #61
Just updating following discussion with @yramachers. He has a new simulation validation module in progress, which will address the core Geant4 physics (number of hits/steps etc). I've removed some items as these can be better handled by #157 or independent validation such as physics from `genbb`.

[2019-09-16 16:06] drbenmorgan commented on #61
See of course the extras from @cherylepatrick and @yramachers:

https://github.com/SuperNEMO-DBD/ReconstructionValidationModule
https://github.com/SuperNEMO-DBD/SuperNEMOValidationTool

https://github.com/SuperNEMO-DBD/SimulationValidationModule
https://github.com/SuperNEMO-DBD/SimulationValidationTool

As these address this issue, I'll close it. Any further discussion should happen on the tracker

[2019-09-16 16:06] #61 closed

[2019-09-17 15:50] drbenmorgan commented on #157
See also BxCppDev/Bayeux#53, which requests implementation of an "include" mechanism for the current scripting files. That'll allow much simpler composition and tracking of configuration, e.g. with inclusion, you could write a script:

[code]

i.e. be able to override single or multiple parameters without having to copy/paste the entire script. Since it also means the configuration of `flsimulate/

[2019-09-17 15:52] drbenmorgan commented on #63
As this is related to topics discussed at yesterday's Analysis Board meeting, I'm adding back @cherylepatrick, @emchauve and @pfranchini. They'll be preparing material for the tutorial at Bordeaux, which can contribute to this task.

[2019-10-03 15:17] emchauve opened #162 "failure in brewing falaise 4 on ubuntu 18.04"
while putting falaise 4 on a fresh installation of ubuntu 18.04, brew snemo-bootstrap is failing at the step of **linux-pam** :
`Error: No available formula with the name "linuxbrew/extra/linux-pam" (dependency of falaise)`

a missing formula ?

[2019-10-09 07:00] lemiere commented on #116
So there is no simulation features implemented due to SW dev group failure ?
@emchauve  : is that a major issue for Snemo Analysis ?

[2019-10-09 08:45] emchauve commented on #116
it is not major issue but it is not major work too:

=> just adding this two lines in Falaise/resources/genbb/GenBB.conf
[code]

=> and these 2 paragraphs in  Falaise/resources/genbb/DBDSources.conf
[code]

[2019-10-09 12:47] drbenmorgan commented on #116
@emchauve, as you have the fix I've assigned to you to implement the Pull Request to fix this. Other than the config changes, we'll also need tests to confirm running in `flsimulate`. Those can be pretty much copied from that of #97 and its fix, so the files to look at are:

https://github.com/SuperNEMO-DBD/Falaise/blob/develop/programs/flsimulate/tests/CMakeLists.txr
https://github.com/SuperNEMO-

[2019-10-20 17:35] drbenmorgan commented on #10
@cherylepatrick, AFAIK, this is now fixed, so am closing, but please reopen otherwise.

[2019-10-20 17:35] #10 closed

[2019-11-12 13:54] pfranchini commented on #140
Hi @lemiere, just for my orientation in the code, the current version of the calibration source is in this part?
`resources/snemo/demonstrator/geometry/GeometryModels/source_module/source_calibration.geom`

[2019-11-12 15:18] drbenmorgan opened #166 "Ensure RPATH for flvisualize and EventBrowser includes "lib/root""
As reported on Slack, `flvisualize` on the latest Ubuntu 18 LTS fails to run with errors about ROOT's libGui not being found. This was eventually traced to the libFalaise_EventBrowser module not containing the path to these libraries in its RUNPATH.

Likely this was not spotted earlier due to differences in RUNPATH/transitive use between the newest GNU ld and more common platforms. A PR should be

[2019-11-18 14:08] lemiere commented on #140
Sorry Paolo since the new falaise refactoring... I'm not able to let you know any technical details... Let see with @drbenmorgan

[2019-11-18 16:09] drbenmorgan commented on #140
Hi @pfranchini, yes, that should be the location. The only major change in the overall resource structure is the flattening out of the extraneous "config" directory, plus the "tag" layers (the various "vX.Y.Z" directories you'll see in v3.3.0).

I'd guess that adding the realistic sources will be an addition to the existing geometry rather than a fundamental change? If so, the current structure wi

[2019-11-19 14:34] pfranchini commented on #140
Thanks @drbenmorgan also for the DB demonstrator.
Right now I am just playing with the current geometry (to familiarize myself with the coordinate system) and as you said my changes will be an update of the existing one.

[2019-11-20 16:39] pfranchini commented on #140
Hi @lemiere, please let me summarize what I have got
- detailed description of each source (M. Macko thesis)
  - envelope orientation and framing model
  - position of the droplet (aka "spot" in Falaise) wrt the frame (resolution ~10 um)
  - activities
- relative position of each of the 42 sources (3D laser measurements in this issue) (res.~1 mm)

Assuming the fully deployed 4th source is in the e

[2019-11-25 16:00] pfranchini commented on #69
In current `official-2.0.0_changed.conf` they are both `true` by default, but still the delayed electrons are neither clustered nor reconstructed. The time window is 13 us and their delay goes up to more than 1 second.

[2019-11-25 16:27] cherylepatrick commented on #69
Did you do Francois' thing? What were your time threshold and time cut?

[2019-11-25 16:34] pfranchini commented on #69
Was using the normal generator, trying now to understand how to use the new (1 year ago!) `time_slicer_generator`.

[2019-11-25 16:35] cherylepatrick commented on #69
Don't know if it will help, but it is worth a try!

[2019-11-26 11:44] pfranchini commented on #69
@fmauger Where should I put the configuration file you have suggested? Does not work in `share/Falaise-4.0.1/resources/genbb/CalibrationSources.conf`.

[2019-11-26 22:15] lemiere commented on #140
Hi Paolo,

"do not know where the calibration sources are in the demonstrator "
Since a long time, there is 6 tracks at a known position.
The source tracks are at the same position than the expected one currently in the geometry (y axis)
On the x axis, that's at 0.
About the z-axis, Carla proposed to Texas team to install 7 sources per track instead of 4 sources.
Cf   NemoDocDB-doc-4683-v3
I would

[2019-11-26 22:38] fmauger commented on #69
I have checked that share/Falaise-4.0.1/resources/genbb/CalibrationSources.conf
should be the right place to add it:

[code]
I guess you should also add the following line in the GenBB.csv file
to make this new generator available from the variant system:

[code]
Then make a try...

In other words:
1 - The CalibrationSources.conf file defines the generator
2 - The GenBB.csv publishes/registers it

[2019-11-26 23:44] pfranchini commented on #140
Hi @lemiere so I think the simulation I have posted before is not far from reality.
Apparently Carla's geometry never made to Falaise so will do my own thing and push it later. Will ask Ramon about but in case do you have the full 3D survey of each of the 42 sources or at that time only 7 in one raw were deployed?

[2019-11-27 09:16] lemiere commented on #140
Hi Paolo,

That exist into a non-official version of Falaise out from a version system control... :-(
3D data is available at CCLYON. See DocDB#4954

[2019-11-27 12:45] pfranchini commented on #69
I was forgetting about `GenBB.csv` so now it produces some results: thanks.
Still I do not see any delayed event being reconstructed. Should I expect to see one event with the characteristic X-rays from the electron capture and the following one with the eventual internal conversion electron(s)? Should the threshold be O(100ms) and the time_cut few seconds?

[2019-11-28 10:53] yramachers opened #167 "genbb/tweakable_generator"
inconsistent keywords for tweakable_generator, between definition and ConfigurableSources.conf

Suggestion: edit ConfigurableSources.conf, line 46 - change string datafile to file

since 'file' is the expected keyword for the variant

generator/if_tweakable/energy_mode/if_spectrum/

[2019-11-28 11:27] drbenmorgan commented on #167
Hi @yramachers, I've patched this locally on the Warwick install, can you try that again and see if you're suggested fix works?

Let me know, and I'll add the patch here.

[2019-11-28 12:13] yramachers commented on #167
Yes, in principle, the event generator is being set up or at least recognized correctly but the this happens at the end of the Geant4 init output when starting the simulation:

-------- EEEE ------- G4Exception-START -------- EEEE -------
*** G4Exception : InvalidArgument
      issued by : mctools::g4::primary_generator::_generate_event
Particle named 'gamma' has no valid kinetic energy provided b

[2019-11-28 12:31] drbenmorgan commented on #167
What datafile did you use as input for the spectrum? I can't spot any obvious issue in the config files other than the `datafile` issue. Possible issues include

- Format/content of the datafile itself (ultimately ends up in, and thus compatible with, `genbb`'s `single_particle_generator`, through the parameters `spectrum.mode` and `spectrum.data_file`
- Parameter consistency. There are three plac

[2019-11-28 14:23] yramachers commented on #167
Ok, I think I resolved it. I used the example in Bayeux at the end of the single_particle... code as an example for an input file for histogram data. That example is slightly wrong unfortunately which only becomes clear when reading the source code.

The initial special line in such an input file is given as #@limits nbins, min, max and then as a second special line the #@energy_unit keV, after wh

[2019-11-29 12:51] #167 closed

[2019-12-04 12:01] pfranchini commented on #140
Hi @lemiere, checking the survey I have slightly different distances from each string of sources. How did you get your distances? Have you been averaging them?

What has been surveyed by the laser? The envelope of the source?

In Y they are quite well aligned, not so much in X (is there not a weight keeping them straight once deployed?).

Do you know how to rescale the survey coordinates to the Fa

[2019-12-18 17:42] cherylepatrick opened #171 "Add X-wall and gamma veto glass bulk generators"
Main wall PMT glass was added in #71 but can we get vertex generators for the X wall and veto PMT's, please? Needed for @wausain and @lecdawson 's work - @wausain should be able to test it if someone can work out how to add it.

[2019-12-18 17:46] cherylepatrick opened #172 "SSD 2nubb primary event generator"
I know there's been some discussion/work on this, but I couldn't see it as a trackable issue. Now that we've shown that the SSD mechanism for 2nubb matches our data much better than the HSD mechanism, we should be using it as our default generator for those events - or at least have it available as an alternative option.

[2019-12-18 17:51] cherylepatrick commented on #172
These are the steps that @fmauger sent us (in other words, steps 2, 3 and 4 are Francois, unless someone else happens to know how to do them). I don't know if we have any of this done yet - @fmauger do you know? Should I ask Vladimir for decay0? @wausain might be able to help with step 5.

- **step 1** :  Vladimir will send me the new version of the decay0 program. documenting the new routine(s) t

[2020-01-08 16:22] pfranchini commented on #172
Hi @cherylepatrick. I guess we can assign this to @fmauger too. I can step in later once the main coding part is done. Is Vladimir's Fortran code available anywhere?

[2020-01-14 12:08] pfranchini commented on #140
Yves by email:

[Bismuth Sources Positions and Activities-2.pdf](https://github.com/SuperNEMO-DBD/Falaise/files/4058974/Bismuth.Sources.Positions.and.Activities-2.pdf)

I will change according to slide 2 the definition of the `source_calibration_envelope.model` and `source_calibration_carrier_frame.model`. Will still be rectangular, though.
I will assume the size of the hole 13mm x 8mm in the _car

[2020-01-14 15:43] pfranchini commented on #140
Hi @lemiere I think is done, back to you to review the geometry once again (for your convenience here https://github.com/SuperNEMO-DBD/Falaise/pull/169/commits/23c37dfa273c1edce5a611eaabbf9e1ce67ae0c0). Thanks.

[2020-01-15 11:36] pfranchini opened #173 "Typo in gamma_tracking_driver.cc"
https://github.com/SuperNEMO-DBD/Falaise/blob/77904b5bbab1f11c768055d431fc895889a4166b/modules/GammaTracking/GammaTracking/gamma_tracking_driver.cc#L76

I guess has to be the_gamma_calos.insert(std::make_pair(a_calo_hit->get_hit_id(), gt::event::calorimeter_hit()));

[2020-01-17 19:46] pfranchini commented on #142
As suggested we are going to start with the idealized events generator, removing entire cells from the tracker and making disappear the correspondent hits of the generated tracks, as in the example

![before](https://user-images.githubusercontent.com/36303180/72639774-4aa11080-395e-11ea-8861-9d6a2c9b56a5.png)
![after](https://user-images.githubusercontent.com/36303180/72639783-4e349780-395e-11ea-8

[2020-01-17 20:09] cherylepatrick commented on #142
Wonderful! It would be good to get an idea as soon as possible of how efficiencies change with the SuperNEMO reconstruction if we remove all the cells that are currently shorting. I can point you at the list if you don't have it. Are we ready to do that now with the ideal event generator?

[2020-01-17 20:19] pfranchini commented on #142
Nearly there, if you provide the list will do that early next week.

[2020-01-17 20:21] cherylepatrick commented on #142
D'you need a particular format? I can give you an excel spreadsheet...

[2020-01-17 20:23] pfranchini commented on #142
Right now is (side, layer, column). Thanks Cheryl!

[2020-01-20 11:43] pfranchini commented on #142
Here a quick analysis using YR's generator:
- have simulated 10k single tracks (lines as in `toyillumination.py`)
- killed _n_ random full cells in the tracker and removed the correspondent hits
- reconstructed with Falaise (`official-2.0.0.conf` without the "Mock digitize and mock calibrate")
- calculated the _efficiency_ as number of single reconstructed tracks/number of generated tracks
- (sinc

[2020-01-20 11:53] cherylepatrick commented on #142
Will get you that list of cells later today.

I notice that with up to about 500 cells the efficiency is actually going up... but I am a bit concerned that that might be due to the definition of efficiency. If you've simulated two tracks, kill a cell in the middle of one of them, and then count the tracks, you might well end up with 3 tracks (1 for the one you didn't split, and two for the one tra

[2020-01-20 12:00] pfranchini commented on #142
The errors might be quite large, it probably goes down within the error (it might have randomly killed hits that do not affect many tracks).
I agree with you, once I kill one hit or two Falaise reconstructs two tracks and I suppose that should not be the case, but probably the process is more sophisticate than this. Will try to think in terms of particles.

[2020-01-20 12:31] pfranchini commented on #142
One track, five particles reconstructed.

![image](https://user-images.githubusercontent.com/36303180/72726594-9c28e580-3b80-11ea-86d3-2a8df974543c.png)

[2020-01-20 13:28] cherylepatrick commented on #142
Yikes, that's not so good.

[2020-01-20 14:56] yramachers commented on #142
Looks to me that the algorithm does what it is supposed to do. I know it is some time ago, see comment from July above in the thread, but this is an effect of the reconstruction relying on nearest neighbours to form clusters.
Therefore, a dead cell should be set as active by default rather than switched off and carry a flag as a dead cell and be assigned a default radius zero and maximum error (fo

[2020-01-20 15:15] cherylepatrick commented on #142
I agree with @yramachers - but I am curious to see whether Matteo's machine learning thing can figure this out for itself. I'd be very impressed if it could.

[2020-01-20 15:37] pfranchini commented on #142
I do agree. A dead cell is not the same as a cell without a hit. In principle the algorithm could try firing up dead cells to see if by any chance this makes collinear tracks into a single one.

I think we agree that the nearest neighbours concept is a bit too short sight. Having just the second nearest neighbours will reabsorb most of the dead cell's artificial features.

Still there current algo

[2020-01-20 15:59] cherylepatrick commented on #142
Hi @pfranchini - I've updated http://nile.hep.utexas.edu/cgi-bin/DocDB/ut-nemo/private/ShowDocument?docid=4943 to show which cells have any kind of short (top, bottom or both). The cells you need are in the blue section at the bottom of each sheet (one sheet per C section). Let me know if it isn't clear.

[2020-01-20 16:09] pfranchini commented on #142
Thanks Cheryl.

[2020-01-21 14:16] pfranchini commented on #142
[list_of_shorts.xlsx](https://github.com/SuperNEMO-DBD/Falaise/files/4091455/list_of_shorts.xlsx)

[2020-01-22 09:19] emchauve commented on #90
I am finally into this issue! (branch add-database-service on my Falaise's fork). I have written the base for the database manager and the database service. And working now on DB connexion.

I am suffering 2 issues due to lack of expertise on brew and cmake, @drbenmorgan you might be able to guide me :

-- I am using MySQL++ which provides a C++ wrapper for mysql-client, installed with brew for wh

[2020-01-22 13:58] drbenmorgan commented on #173
Pull requests welcome!

[2020-01-22 14:07] drbenmorgan commented on #90
Whilst it's a C-only API (but a good one), could [mariadb-c-connector](https://mariadb.com/kb/en/mariadb-connector-c/) be used instead? It's a much lighter library than mysql plus another lib on top of that.

If they have `pkgconfig` (`.pc`) files then CMake's hook to `pkgconfig` can be used. There's an example of use here:

https://gitlab.cern.ch/lhcb/GitCondDB/blob/master/CMakeLists.txt#L46

and

[2020-01-22 14:33] emchauve commented on #90
Thanks for the suggestion. I will investigate mariadb-c-connecter, however it still requires openssl@1.1 from its formula !

[2020-01-22 19:13] fmauger commented on #90
Why should we use MySQL or MariaDB ?
The AMI group @ LPSC is supposed to provide us a C++ API to access the SN database system independently of the underlying techno.
With the approach you are initiating, you freeze SN code with a given technology and face immediately implementation details rather than considering the problem with some perspective:
- What is the purpose of the DB access system ?
-

[2020-01-22 19:15] fmauger commented on #90
The title of this issue proposed by drbenmorgan is :
"Design and implement Conditions Data access in Falaise"
not:
"Implement a DB system  in Falaise".

[2020-01-22 20:51] pfranchini commented on #142
I had to reconsider my definition of efficiency as _single tracks that have a hit on the foil and one on the calorimeter too_, since this is how they are simulated by YR generator.
If I keep all the reconstructed single tracks, former tracks that in absence of dead cells are split in two, might become a single track after the loss of hits due to having dead cells. This would artificially enhance t

[2020-01-22 20:56] cherylepatrick commented on #142
Hi Paolo, I'm pretty surprised by this and I'm wondering if I understand correctly. Are you saying that all those dead cells don't make a difference and that almost all of the tracks reconstruct back to a vertex on the foil, despite a pretty large percentage of the first layer of cells being dead? Can you explain what you did to get it to do that? It doesn't seem consistent with what you showed be

[2020-01-22 20:59] cherylepatrick commented on #142
Or are you marking dead cells now as always on rather than always off?

[2020-01-22 21:10] pfranchini commented on #142
Cells are off and correspondent hits are removed.
Is basically the green curve above and we already start for a 78%. I guess the reconstruction is clever enough to get back to the foil even if cells are missed on the first layer, but for some other tracks we still get more than one track for 20% of the time (as in the event display example).
Apparently if we randomly kill 3/4 of the detector we st

[2020-01-22 21:40] pfranchini commented on #142
Of course Falaise does not know a thing about dead cells in the geometry.

For counting the tracks I am using the `reco.track_count` from the Sensitivity module that might be source of uncertainty too... need to look at it.

[2020-01-22 21:44] cherylepatrick commented on #142
The reconstruction isn't necessarily being clever if it goes back to the foil with the first layer missing! What if it was a radon-in-the-tracker event from Bi214 on the tracker wires? It can't just go assuming it's from the foil. It's doing TOO well and I am suspicious!

[2020-01-23 10:06] emchauve commented on #90
The title was modified, but initial topic was indeed implementing DB access in Falaise!
@drbenmorgan Would it be possible to add the formula for building C++ AMI API librariry in our Homebrew ? (git repo is: https://github.com/ami-team/cami)

[2020-01-23 10:18] emchauve commented on #90
Most simple case: energy calibration of calorimeter OMs with 1 parameter (Energy = a x Charge)

We are working on it in parallel, the idea and change from current model is to be able to handle different version of charge and energy (e.g. in a vector) computed/calibrated with different methods. Such dynamic data models would not require modification of members, but just addition of enum for indexin

[2020-01-23 12:15] drbenmorgan commented on #90
As far as I am aware, AMI is *not* the conditions database! It isn't in ATLAS, see [this paper](https://iopscience.iop.org/article/10.1088/1742-6596/898/6/062001/meta), and [this one, especially 2.2](https://cds.cern.ch/record/1639608/files/ATL-GEN-PROC-2013-004.pdf).

Yes and no. I agree that the fundamental issue is the client API, so that can and should be mocked in with what we know to date, e

[2020-01-23 12:17] drbenmorgan commented on #173
Fixed by #175

[2020-01-23 12:17] #173 closed

[2020-01-23 16:31] pfranchini commented on #142
You are right to be. The SensitivityModule sometimes has `reco_vertices_on_foil==1` even if is not apparently true. Need to do more debugging here or just parse the brio file.

![image](https://user-images.githubusercontent.com/36303180/73003072-e6b69600-3dfc-11ea-967d-928e44896ee1.png)

[2020-01-23 16:55] pfranchini commented on #142
@cherylepatrick, was apparently done on purpose, but is not clear to me why:

` trackDetails.cpp`
[code]

[2020-01-23 17:06] cherylepatrick commented on #142
Huh, why on earth did I do that? I clearly did it intentionally. But I cannot at all remember why. My guess is that it was something to do with the possibility of a track not being extended back to the foil, and that we looked at that in a different way. But I have to admit it makes very little sense to me right now. As far as I am concerned, you can feel free to change it - just check where it ge

[2020-01-23 17:41] cherylepatrick commented on #142
Actually @pfranchini be careful before doing that - it looks like it is used in the gamma track length/internal external probabilities for the 1e1gamma channel to check when you have a gamma and an electron from a common vertex, and that needs to include a common vertex on the wires. I'm not saying that we don't want to make a change, but I think the change needs to be more sophisticated than just

[2020-01-23 18:19] pfranchini commented on #142
I think the definition is correct but just the name is misleading, in particular as defined in the README (or at least was for me).
I would expect the new `reco.vertices_on_foil` (maybe a `reco.foil_hit_count`) to count all the possible vertices without any topology assumption; same for `reco.calorimeter_hit_count`.

[2020-01-23 18:21] cherylepatrick commented on #142
Yeah, I think I am inclined to agree. The readme definitely seems misleading. Sorry about that.

[2020-01-23 18:34] pfranchini commented on #142
No worries, thanks for that. I might have a look since for these sort of basic checks can be useful.

[2020-01-23 18:36] cherylepatrick commented on #142
Yeah it would be really helpful actually, there is a lot of stuff in there that hasn't had much scrutiny from anyone except me, and I haven't looked at it in a while... I suspect there are a few things that were weirdly specific to analyses that were in progress at the time I wrote it, and actually doesn't make much sense in a more general context. Another pair of expert eyes would be a big help.

[2020-01-27 16:33] pfranchini commented on #142
After the fix in the variable I was using, I still consider my definition of efficiency as _single tracks that have a hit on the foil and one on the calorimeter too_, since this is how they are simulated by YR's generator. Otherwise they are classified as short even if reconstructed as single tracks.

So, in absence of dead cells:
[code]
Killing all the hits correspondent to **cells with shorts**

[2020-01-28 11:22] emchauve commented on #90
In fact, the AMI client API is really ultra light, few 100 lines of codes (https://github.com/ami-team/cami/) and the admin web interface is very convenient to handle a common set of users and privileges over different DBs.

There is few different output format provided by the server : text, CSV, JSON or XML. You can give a try there with GetSessionInfo command (the only command available for gues

[2020-01-28 11:33] drbenmorgan commented on #90
For JSON parser, easiest is probably [nlohmann-json](https://github.com/nlohmann/json)

Nevertheless, why would we use AMI to access (from Falaise), the CondDB? Could we get confirmation from the AMI developers that this is how it's used in ATLAS to access (from Athena, their Falaise equivalent) actual conditions from the Oracle/COOL/SQLite DBs? It just feels awkward and inefficient to use a web A

[2020-01-29 00:50] pfranchini commented on #142
![efficiency](https://user-images.githubusercontent.com/36303180/73318434-47950280-4231-11ea-9368-6c8265b6292e.png)

[2020-02-03 09:09] cherylepatrick commented on #142
Hi @pfranchini and thanks for doing this, it's very interesting. I have a few questions:

Does the yellow line mean that it reconstructed a single particle track, but either the foil hit, calorimeter hit, or both were missing? If the calorimeter hit isn't associated, it's a lost cause, but if it's just not marked as a foil hit, there are things we can do, so it's interesting to know exactly what h

[2020-02-03 12:13] pfranchini commented on #142
In this case *all* the time is a missing foil hit, since there is always a colorimeter hit from the generator. Of course if Falaise would knew that extrapolating the track up to the foil there was a dead cell in the way could have assumed that the vertex was on the foil. This requires some intelligences in the reconstruction.

Yes, sometimes. I have tried to kill a full layer of 113 cells in both

[2020-02-03 17:34] pfranchini commented on #142
Even all hits with zero radius can make into a track
![image](https://user-images.githubusercontent.com/36303180/73675461-5a348f00-46aa-11ea-85ef-200abaff4071.png)

so of course if we keep the hit correspondent to dead cell we rescue some efficiency loss
![efficiency_radius](https://user-images.githubusercontent.com/36303180/73675566-94059580-46aa-11ea-94bd-76b3853f11ee.png)

in term of the tracke

[2020-02-03 17:48] cherylepatrick commented on #142
That's great! But I'm actually kind of surprised that we don't get a lot of reconstructed tracks connecting the dead cells. Maybe the (bizarre) "striped" nature of the shorts is doing us a favour because they don't connect up. Are you allowing x-wall / gamma veto calorimeter hits? When it's finding a track, is it the RIGHT track? It'd be good to see some event displays just to check it's doing wha

[2020-02-03 19:04] pfranchini commented on #142
The study leaving on ALL the dead cells is in progress. Above are only the cells corresponding to real tracks left on with null radius (so random connections between dead cells could not happen). I guess that could be compatible with having only a partial cell reading.

Need a bit more of fiddling to find out, as you said, if the RIGHT track is reconstructed each time.

[2020-02-03 19:12] cherylepatrick commented on #142
Ah, I see what you mean!  In that case, I'm not surprised it made things better. I'm really curious how it will be with all the dead cells on.

By the partial cell reading, d'you mean no cathode, but the anode is OK? If we only have 1 cathode, we should be able to reconstruct a position just fine (don't know if Falaise currently does that though). If we have no cathodes, we can reconstruct a radiu

[2020-02-04 14:09] pfranchini commented on #142
@yramachers I am being lazy now, but do you have a simple set of equations to convert (side, row, column) into actual positions (wirex, wirey). I just wanted to be fully consistent with your generator. Thanks.

[2020-02-04 15:38] pfranchini commented on #142
I got this that should work:
[code]

[2020-02-04 16:46] yramachers commented on #142
Yes, that is what is being used in the generator. There the offset is
offsetx=53.0 # [mm]for wire plane 0 closest to foil and
offsety=-2464.0 # [mm] for bottom wire row with the origin sitting at the centre of the demonstrator

[2020-02-07 23:01] cherylepatrick commented on #142
Completely coincidentally, I was looking through some old emails and found something I had written suggesting that for delayed hits, Xavier did what I mentioned above - set the radius to half the cell radius with an uncertainty of the same amount.

[2020-02-10 10:43] pfranchini commented on #142
This makes absolutely statistically sense so the relative error is 100%.

[2020-02-12 13:01] pfranchini commented on #142
The efficiency for V shaped double tracks (originated from one single foil vertex, both ending up in a calorimeter module) is around 35.3 % since a lot got split as expected

![image](https://user-images.githubusercontent.com/36303180/74336278-dc514180-4d95-11ea-8d40-74747ee77b3b.png)

[2020-02-28 16:57] cherylepatrick opened #176 "Simulated true particles from GEANT"
Question/request for @fmauger I think...

We would very much like to be able to identify the true particles produced in simulated events - not just the primary particles, which we can already see, but also those generated by GEANT in the detector simulation. As a couple of examples, Hamzah @wausain  would like to be able to see all external background events where an initial gamma produces an e+/e

[2020-03-17 13:19] fmauger commented on #176
Hi Cheryl,
Something exists in Bayeux for that and thus in Falaise.
I'll have a look and come back to you to explain how it works.
frc

[2020-03-17 13:27] cherylepatrick commented on #176
Wonderful, thank you @fmauger !

[2020-03-17 13:40] lemiere commented on #116
Hello,
Is there fresh status about it ?

[2020-03-17 13:52] fmauger commented on #176
There is a template/example profile config filen namely:

"resources/snemo/demonstrator/profiles/demonstrator-simulation.profile"
which enables to activate full available details about true hits generated along all tracks (or at least charged particle's tracks, I don't remember now).

In section [registry="simulation"] there is the "output_profile" set at "none"?
It means that we only get hist fro

[2020-03-19 09:18] cherylepatrick commented on #172
Ruben's spoken to Vladimir - we need more input from him, but he has promised to help us. I'll keep you posted if I hear anything.

[2020-03-23 19:54] pfranchini commented on #142
As proposed in the Analysis meeting of Feb. 27, I have created two Falaise modules

https://github.com/SuperNEMO-DBD/SuperNEMO-DeadCellsModule
https://github.com/pfranchini/SuperNEMO-LazarusModule

The first, given a calibrated data file, kills a set of hits correspondent to dead cells (randomly generated or read from a file).
The second one pretends to resuscitate "some" hits according to differe

[2020-03-25 15:25] cherylepatrick opened #177 "Cut module"
Revisiting an issue we've talked about for a while - the idea of a cuts module. It would be great to be able to produce trimmed brio files containing only a subset of events - either from a list of event numbers, and/or by cutting on some parameter or combination of parameters from the brio files themselves. With more time on our hands at the moment - how viable is it to look at this and what woul

[2020-03-25 15:29] cherylepatrick opened #178 "Re-simulating specific events"
This follows on from the cut module question in issue #177

Thanks to @fmauger 's help in issue #176 it looks like it is possible to simulate the true GEANT information. Ideally, what @wausain would like to be able to do is to rerun the simulation for a small subset of events, with the GEANT information turned on. I guess to do that, he would need to know the seeds used for both GENBB and GEANT fo

[2020-03-25 16:07] fmauger commented on #178
It is yes of course. or it should be.
At least it is implemented from Bayeux's tools.
We should ask Yves where are the log files that are generated when flsimulate is ran automatically but in principle we should be able to trace back the seeds that have been used for each run (there are 4 seeds for each of the 4 core pseudo random number generators used by flsimulate).

In https://github.com/Super

[2020-03-25 16:09] cherylepatrick commented on #178
Wow @fmauger - that is amazing! I was totally expecting a "no" to that question. Thank you! You really do plan ahead :)

[2020-03-25 16:16] drbenmorgan commented on #178
I've assigned @wausain and @mauger for this - it's on you both to document and/or add any code to achieve this.

@cherylepatrick, just to check, are you wanting to rerun a *specific sequence* of events from a previous sample? That would need the Random state right before starting those events, and would need a mechanism to reseed on each event.

[2020-03-25 16:35] cherylepatrick commented on #178
Ideally it would be specific events (Can we see what happened in event 14 and 38? for example). The use case we had in mind was that there were certain events with characteristic reconstructed signatures, and we would want to know what really went on in those events: were these background events that passed our reconstruction cuts due to crossing electrons or e+/e- pair production?

[2020-03-25 16:46] mauger commented on #178
Guys,

I think you mistakenly included me in this group.

Regards,

[2020-03-25 16:49] drbenmorgan commented on #178
Ah, so sorry!

[2020-03-25 16:56] fmauger commented on #178
Such a feature exists in falaise but not exactly what you may want.

In such case the original run must regularly save the internal state (basically a sequence of intergers) of each  pseudo random number generator (PRNG).
 Back to the file mentioned above, you can find the associated configuration parameters between lines  55 and 63. The idea is to ask the flsimulate core simulation engine to back

[2020-03-25 16:58] fmauger commented on #178
YACM !!

Yet Another Confined Mauger !

[2020-03-25 17:15] fmauger commented on #178
About this topic of PRNGs' seeds in Flsimulate, AFAIR, we have provided a tool to guarantee that when someone want to launch a large set of MC runs associated to the same physics cas.

To do that, we  first generate some files with as many different quadruplet of seeds needed to ensure statistical independence between generated datasets associated to the same physics case.
Each run is given its in

[2020-03-26 19:07] pfranchini commented on #140
More in https://github.com/pfranchini/Falaise/commit/5e848c567103aabf7e759833c745dcb2da857f02 back to @lemiere review

[2020-03-31 19:30] drbenmorgan commented on #177
Hi @cherylepatrick, I had a *very* quick look this afternoon, and I think this is mostly straightforward though may need some scaffolding in Falaise.

Modules can return a status that says "don't process this event any further", so that's the basic true/false selection already there. I need to check what the pipeline then does with the event, as I have a feeling it may still write the event out. T

[2020-04-02 11:27] #140 closed

[2020-04-03 15:26] drbenmorgan commented on #116
Closed by #180, can't link and close after a merge!

[2020-04-03 15:26] #116 closed

[2020-04-05 22:51] lemiere commented on #171
Hi,
Geometry exist, there is only vertex generator to add.
For who want a tutorial, I will fix it tomorrow.
![Capture d’écran_2020-04-06_00-49-55](https://user-images.githubusercontent.com/20680400/78511938-cb72ea00-77a0-11ea-8082-a144aaa48693.png)
![Capture d’écran_2020-04-06_00-41-45](https://user-images.githubusercontent.com/20680400/78511939-cc0b8080-77a0-11ea-850c-21676f708a85.png)

[2020-04-07 16:16] lemiere commented on #68
scheme is missing in the DocDB entry : http://nile.hep.utexas.edu/cgi-bin/DocDB/ut-nemo/private/ShowDocument?docid=4327

[2020-04-07 16:22] lemiere commented on #68
That could help but lenght is missing : http://nile.hep.utexas.edu/DocDB/ut-nemo/docs/0045/004507/001/Updates%20on%20the%20Calibration%20Source%20Deployment%20System.pdf

[2020-04-07 16:24] cherylepatrick commented on #68
Yeah, I looked at that one but couldn't find it

[2020-04-07 16:27] cherylepatrick commented on #68
Width is 15, don't know if the diagram on slide 8 is to scale?

[2020-04-08 08:55] lemiere commented on #68
plumb scheme from Marek : http://nile.hep.utexas.edu/DocDB/ut-nemo/docs/0043/004327/001/5560.10_5th-gen_Geometry_2018_REV-1.pdf

[2020-04-08 09:19] cherylepatrick commented on #68
Thanks to Marek, Ramon and Karol, we have some more info!

- [shape and dimensions of the source envelope](http://nile.hep.utexas.edu/DocDB/ut-nemo/docs/0043/004327/001/SourceEnvelopeHolder.pdf)
- [positions of the sources and plumb bob when put away](http://nile.hep.utexas.edu/DocDB/ut-nemo/docs/0043/004327/001/5000.06_DeploymentSys%2BPlumbBob%2BSources.pdf)
- [dimensions of the plumb bob](http:/

[2020-04-08 20:29] #166 closed

[2020-04-09 08:44] lemiere commented on #68
Based on updated Marek drawing :
* on the horizontal source frame there is 6 holes on the top beam and 6 holes on the bottom beam
for the calibration path (real source frame mass < simulated source frame mass by ~100 g)
* On running operation mode the plumb bob is far away from the demonstrator
* On calibration operation mode, the plumb bob fill the bottom holes and add 610g per plumb

Why should

[2020-04-15 09:00] #68 closed

[2020-04-19 12:34] lemiere commented on #58
Start with : NemoDocDB-doc-5181-v1

[2020-04-22 12:33] #171 closed

[2020-04-22 13:13] lemiere commented on #99
is there fresh status about it ?

[2020-04-22 14:19] cherylepatrick commented on #99
The person to ask is @Tedjditi ! Any news, Hichem?

[2020-04-22 14:26] cmarquet opened #187 "2nu excited states 82Se 0+1->0+1"
We need to add this generator for 2b2n excited states studies.
Support from Vladimir has been requested.

[2020-04-22 14:43] drbenmorgan commented on #187
As this is event generation, I've _provisionally_ assigned @emchauve as he did the last PR on genbb (#180), and @cmarquet as you requested it! Just let me know if it should be reassigned!

To quickly triage, do we know:

1. Is this functionality already in Bayeux/bxdecay0 (i.e. just need to add an entry in our config files)?
2. If not, the PR to implement it on https://github.com/BxCppDev/bxdecay0

[2020-04-27 13:09] fmauger commented on #187
Yes, the material from Vladimir is expected for porting in BxDecay0. I hope it will be easy, depending on the computing technique used to build and integrate the phase space factor for the pair of electrons. This will trigger a new tag BxDecay0-1.0.2 (together with new support for generator with DBD gA modes) and also will request to manage some downloaded external resource files for tabulated pha

[2020-04-27 13:16] drbenmorgan commented on #187
Thanks @fmauger, once the tag of Bayeux/Bxdecay0 is ready I can prepare the new docker images for testing here. I guess that means we'll move to bxdecay0+Bayeux (fine BTW!)?

For the phase space file, we do have the supernemo.org CVMFS repository now. It's not a perfect solution, but might offer a holding place until the calculation is implemented? @pfranchini is managing that so easy to upload th

[2020-04-27 13:21] fmauger commented on #187
ok for bxdecay0+Bayeux.
ok so an additional spack formula + storage of the phase space tarballs on supernemo.org ASAP.
I have requested some storage space with public web access at CCIN2P3 to publish this kind of  tarball with physics data. I wait for their answer.

[2020-04-27 14:26] edbird opened #192 "Falaise Simulation of (replaced) Mylar Film"
Hi,

This came up from an analysis meeting from today.

At some point (I believe October/November 2018) there was some work done to attempt to improve the gas sealing on the interface between the tracker volume and the calorimeter wall.

A new mylar film was constructed by gluing two sheets of mylar together. (I believe with stycast.) This film was hung inside the detector against the calo wall on

[2020-04-27 14:38] lemiere commented on #192
Great point to remind that point !
Please be in touch with Cedric Cerna to collect technical details (foil tickness, glue tichkness and so on...) Implementation will be easy.

[2020-04-27 15:28] drbenmorgan commented on #172
I'm adding @fmauger, as this is on the todo list for bxdecay0/Bayeux, also cross-referencing #187 as related.

[2020-04-27 15:29] drbenmorgan commented on #187
Sounds good @fmauger! I've added you as an assignee here for notification etc, and cross referenced #172

[2020-04-27 15:30] drbenmorgan commented on #187
@pfranchini, I know you've some experience already in uploading to the SuperNEMO CVMFS repo. Could you document the procedure, either here or as a tech note for DocDB so we got that handy should the upload discussed above be needed? Thanks!

[2020-04-27 16:20] willquinn opened #193 "flsimulate warnings when using new gveto and wall vertex generators"
In flsimulate using the new vertex generators detailed in pull request 182 I got the following warnings:
-------- WWWW ------- G4Exception-START -------- WWWW -------
*** G4Exception : GeomNav1002
      issued by : G4Navigator::ComputeStep()
Track stuck or not moving.
          Track stuck, not moving for 10 steps
          in volume -calo.PMT_HAMAMATSU_R5912.model.log_PV- at point (781.62,1683.88

[2020-04-27 16:51] drbenmorgan commented on #193
I think this is almost certain to be an issue with overlapping volumes - the PMTs are defined in terms of a [`geomtools::simple_shaped_model`](https://supernemo.org/Bayeux/classgeomtools_1_1simple__shaped__model.html) of a [`geomtools::polycone`](https://supernemo.org/Bayeux/classgeomtools_1_1polycone.html), as defined in the `.geom` files under:

https://github.com/SuperNEMO-DBD/Falaise/tree/deve

[2020-04-27 16:58] drbenmorgan opened #194 "Allow simulation to run Geant4 macros/UI"
As described in #193, we may be seeing overlaps in the simulation geometry. This motivates allowing the simulation to either:

- run a Geant4 macro
- start simulation in interactive (Geant4 UI shell) mode

These are primarily for debugging purposes so only needs a limited interface. The canonical use case is to check for geometry overlaps as [described here](http://geant4-userdoc.web.cern.ch/geant

[2020-04-28 13:19] cherylepatrick opened #195 "flvisualize can't change view on mac"
On my Mac installation, I can't switch from top to side/front view in flvisualize. I also get a LOT of error messages when I run it. It works fine for me on Lyon, where I seem to have a newer falaise (upgraded it last week but not from brew)

Broken one:
MacOS 10.14.5
* Falaise : 4.0.1
* Bayeux  : 3.4.1
* Boost   : 106900
* Geant4  : 9.6.4

Working one on Lyon
* Falaise : 4.0.2
* Bayeux  : 3.4.1
*

[2020-04-28 13:25] cherylepatrick commented on #195
[flviserrors.txt](https://github.com/SuperNEMO-DBD/Falaise/files/4546015/flviserrors.txt)

That's the error output. I think it was all at startup, not when I tried to switch views, but I did try to switch views. Was using no input file but it happens when I have an input file as well.

[2020-04-28 13:30] cherylepatrick commented on #195
It can't find this file but I don't know what the parent directory is...
inc/falaise/snemo/view/event_browser_signals.h

[2020-04-28 15:37] drbenmorgan commented on #195
O.k., managed to reproduce locally, but as yet can't find the source of the error. If you're feeling brave,

[code]

will install the current tip of the `develop` branch which does work. I'll try and track down the commit that fixes...

[2020-04-28 15:39] cherylepatrick commented on #195
Oh you know I like to live dangerously... I'll give it a go. Thanks Ben.

[2020-04-28 15:57] cherylepatrick commented on #195
It worked! Thank you!

[2020-04-28 22:13] lemiere commented on #193
bxgeomtools_inspector probably could be used to track overlap....

[2020-04-28 23:55] lemiere commented on #193
Position : (781.558,-646.909,-520.447) is related to the back of a 8 inch PMT glass. (base side)

If overlap exist that's between 8 inch PMT  shape and its envelop....
![Screenshot from 2020-04-29 01-24-05](https://user-images.githubusercontent.com/20680400/80547890-9af62880-89b9-11ea-94dc-085362bf665c.png)
![Screenshot from 2020-04-29 01-24-40](https://user-images.githubusercontent.com/20680400/8

[2020-05-04 12:13] lemiere commented on #192
Foil material       : Nylon
Thickness          : ?
Overlap              : ~ 10 cm
Overlap location : horizontal, middle of row  nb 7
Glue material      : ?
Thickness           : ? half a tube for the full gluing
People to contact, CC, Christian, and Ramon

[2020-05-04 14:12] drbenmorgan commented on #195
As @matteoceschia also experienced this, I'm going to reopen just in case others experience it. Also means I can cross-ref and fix a PR for it!

[2020-05-05 13:25] #195 closed

[2020-05-06 13:01] wausain opened #198 "Flsimulate 'value at 'map_file' is not of requested type' for running Map0 magnetic field and other custom fields"
With Falaise : 4.0.2, running simulations with the Map0 magnetic field which can be found in the simulation configuration or a custom field (.csv) leads to the following error.

_flsimulate : Setup/run of simulation threw exception
value at 'map_file' is not of requested type_

This worked perfectly fine with previous versions of Falaise and .csv files were supported.

The settings I use in the si

[2020-05-06 13:10] wausain opened #199 "Flreconstruct Error - Reconstructing using Falaise (and sn-flash)"
Alongside the error #198 for simulating, reconstruction using Falaise 4.0.2 seems to be bugged.

When reconstructing, the reconstruction fails after only a few events are reconstructed and gives this error message.

![image](https://user-images.githubusercontent.com/29455877/81180401-ddfc6100-8fa2-11ea-9414-86679a8224a8.png)

Again this worked fine for previous versions of Falaise.

Reconstruction

[2020-05-06 13:27] drbenmorgan commented on #198
Could you post the full conf file you ran `flsimulate` with please? Could you also try running 4.0.2 using the script:

[code]

please and post any results/full messages here? That works for me using 4.0.2 on macOS.

[2020-05-06 13:27] drbenmorgan commented on #198
Oh, and which older versions were you running that worked?

[2020-05-06 13:31] cherylepatrick commented on #198
I just tried your example config file and got the same error as Hamzah on * Falaise : 4.0.2 (90dd7f63-dirty) (MacOS 10.14.5)

[2020-05-06 13:37] wausain commented on #198
I previously was using Falaise 4.0.0.

This is the sim config file I'm attempting to run:

_#@format=datatools::configuration::variant
#@format.version=1.0
#@organization=snemo
#@application=falaise

[name="flsimulate" type="flsimulate::section"]
numberOfEvents : integer = 10

[name="flsimulate.variantService" type="flsimulate::section"]

settings : string[4] = \
"geometry:layout/if_basic/magnetic

[2020-05-06 14:09] drbenmorgan commented on #198
Thanks both, am able to reproduce on @cherylepatrick's version, and tip of `develop`, but _not_ releases 4.0.2/4.0.3. Tracking which commit broke it...

[2020-05-06 14:37] drbenmorgan commented on #198
O.k., tracked down using [`git bisect`](https://git-scm.com/docs/git-bisect) to 42ed724b61737122fd161e2f2b180547827f07aa. Will prep a PR to reproduce and then fix the bug.

[2020-05-06 14:39] drbenmorgan commented on #199
I'll fix #198 first, but in the meantime, do you have a small file of events that can reproduce this?

[2020-05-06 14:42] cherylepatrick commented on #198
Thank you so much @drbenmorgan ! Do you know if there's anything else this might have affected that should also be tested, just in case? Or is it pretty well contained?

[2020-05-06 14:53] drbenmorgan commented on #198
It looks well contained - it's related to the new configuration validation system. The config file, correctly, states that the `map_file` parameter is a path (`string as path`):

https://github.com/SuperNEMO-DBD/Falaise/blob/878d4ff0de9617937c652d80b7cfb5945e36105e/resources/snemo/demonstrator/geometry/GeometryPlugins/MagneticField/EMFields.conf#L15-L24

but the validation system wasn't updated to

[2020-05-06 14:54] cherylepatrick commented on #198
Ah, great! Thanks for checking and I guess we will be ready for the future :)

[2020-05-06 15:04] wausain commented on #199
[test.brio.zip](https://github.com/SuperNEMO-DBD/Falaise/files/4587595/test.brio.zip)

[2020-05-06 16:12] drbenmorgan commented on #199
Thanks @wausain, I'll try and look at this ASAP.

[2020-05-07 07:06] Tedjditi opened #201 "Flrecontruct: Particle Track Data bank issue"
Hello,

I was working on the GammaTracking and GammaClustering module when i encountered a problem with the PTD bank.
After reconstructing event, the PTD is not filled and stays empty.

I work on cclyon.
My falaise installation is done by following yves "my_falaise" tutorial so i'm link to François linux brew and nemo/sw/bayeux_4.0.0 version ([setup.txt](https://github.com/SuperNEMO-DBD/Falaise/fi

[2020-05-07 09:42] drbenmorgan commented on #201
Thanks @Tedjditi, I'll try and reproduce with your examples!

[2020-05-07 10:30] #198 closed, assigned to drbenmorgan

[2020-05-07 10:33] drbenmorgan commented on #198
Hi @wausain, this should now be fixed on the `develop` branch by c0ebba2. If you update your Falaise build and/or install to that, it should be good to go.

[2020-05-07 16:13] drbenmorgan commented on #199
Hi @wausain, that file isn't working for me - I unzip it but only get a 45B file that neither ROOT not flreconstruct can read. It should be fine to post a larger file here, or mail me with it!

[2020-05-07 16:37] emchauve commented on #69
I did a quick test, the time slicer looks to work (splitting into 2 separated events). After generation of 1E5 events, I have a significant fraction of events with a delay greater than 5 seconds, so I recommand the following configuration for the time cut :
`  time_cut       : real as time = 100 s`

However electrons track are still **NOT** reconstructed because the time of the primary event (in c

[2020-05-07 17:25] drbenmorgan commented on #201
Hi @Tedjditi, I've had a quick look, and been sort of able to reproduce this, but I'm seeing the same issue as in #99, so it's possibly related.  This doesn't appear to happen on the current tip of the `develop` branch so could you try a build of that and run with your scripts above to see if that changes things please? My runs still have empty PTD banks, but at least it runs.

Is it possible to p

[2020-05-07 17:56] emchauve commented on #199
I also confirm similar issue with Falaise 4.0.2, while we do not have it with 4.0.0 ! There was no so much changes between both version. The only significant commit where the bug could have been introduced is there : https://github.com/SuperNEMO-DBD/Falaise/commit/bbf8312ead5bf4342e8d5da12c8fed48d256a687

[2020-05-07 18:37] drbenmorgan commented on #199
Thanks @emchauve! If you also have a small event file, or reproducible (i.e. fixed rng seeds, small number of events) `flsimulate` input script, please post!

[2020-05-07 18:41] emchauve commented on #199
this event has the issue  :
[issue199event.zip](https://github.com/SuperNEMO-DBD/Falaise/files/4595048/issue199event.zip)

(github do not accept .brio file but fine with .zip, so I zipped it)

[2020-05-07 18:41] drbenmorgan commented on #69
Great! Could you request a new patch release of Bayeux (3.4.2) with that incorporated, then we can make that the required minimum version. If it'll be in a new major/minor release that'll be fine too, just might require a little more testing.

[2020-05-07 19:04] drbenmorgan commented on #199
Thanks! I was able to run this through `flreconstruct` from 4.0.3 and it worked, but the current `tip` of develop failed:

[code]

Could you confirm that's the output you're seeing? Also, what does `flreconstruct --version` print for you (it should print a version and git hash if it's been built from anything other than a release tarball). It's possible that you're running a commit on the `develop

[2020-05-07 19:21] pfranchini commented on #69
Hi @emchauve thanks for that, I was not brave enough to look into Bayeux. Will test it once merged and produce some private MC for Miroslav's analysis for a first pass and comparison with Carla's MC (which used the t=0 delay if I understood correctly).

[2020-05-07 21:25] emchauve commented on #199
Yes this is the error. Hash is `90dd7f63` so indeed develop branch between 4.0.2 and 4.0.3

[2020-05-08 03:56] Tedjditi commented on #201
when i do "git clone https://github.com/SuperNEMO-DBD/Falaise.git" i get the latest Falaise version on the develop branch no ?

if yes, i tested it and i still have the bug. I do not see the crash mentioned in the issue #99 on cclyon.

i will provide a brio file with less event (cclyon still have some latency problem making it really uncomfortable to work on it). but basically, if you have a non-a

[2020-05-08 11:52] drbenmorgan commented on #199
Tracked down to commit 42ed724b61737122fd161e2f2b180547827f07aa, needs further diagnosis on whether changes to `gveto_locator` is cause or somewhere else. All tests of the locators and modules at that commit pass, so will use @emchauve's file to prepare the test for now. If we can track down the error more specifically, then can also implement a unit test.

[2020-05-13 17:33] #199 closed, assigned to drbenmorgan

[2020-05-14 10:50] cherylepatrick opened #203 "Flreconstruct failing maybe because of a gamma veto hit?"
I simulated 100 events with 1MeV electrons on the internal foil surfaces. Reconstructed with official pipeline - only 62 reconstructed. Reconstructed event 60 seemed to match simulated event 61 so it seems like it stopped part way through rather than rejected some events as it went along. I didn't see any obvious crash/error from flreconstruct, although it always prints a lot of output. Ran it twi

[2020-05-14 10:52] drbenmorgan commented on #203
Probably the same as #199, could you check the output from `flreconstruct` for the error reported there?

It's fixed by #202, which is on `develop`, so updating falaise to 707e016 should resolve it is that error.

[2020-05-14 10:55] cherylepatrick commented on #203
Oh yeah I think that is the same thing. Sorry, should have checked - in a bit of a rush today and not doing due diligence. I'll close this one.

[2020-05-14 10:55] #203 closed, assigned to nobody

[2020-05-14 11:02] cherylepatrick opened #204 "Can't build PTD2ROOT"
Just checked it out and tried to build it but it crashed. Has anyone used it recently? Has the recent refactoring changed some of the variable names in the PTD bank?
[code]

[2020-05-14 11:05] drbenmorgan commented on #204
Yep, that's the case, but hopefully, the member functions should now be a bit clearer and better organised:
https://github.com/SuperNEMO-DBD/Falaise/blob/707e016b11aba5dbc68e0aeaebf95806e83257d0/source/falaise/snemo/datamodels/particle_track_data.h#L39-L79

[2020-05-14 11:28] cherylepatrick commented on #204
Well that's a good thing! I like clear and well organised!

I suspect this might be an issue for SensitivityModule too. Not sure I have the time to test it right now, but probably should shortly...

[2020-05-19 10:13] drbenmorgan commented on #201
Hi @Tedjditi, any update on a file to exercise the bug?

[2020-05-25 20:58] fmauger commented on #187
The port for 82Kr excited states has been included in BxDecay0. We have now to finalize the support for gA processes before to provide a new tag.

[2020-06-16 16:29] cherylepatrick commented on #177
Just realised I didn't answer this, but yes! But we probably want to retain event numbers if possible so we can match back to an original source.

[2020-06-18 10:40] drbenmorgan commented on #201
Hi @Tedjditi, this was covered in today's Software Integration meeting and is considered a high priority fix. Could you please, as a matter of urgency, send an flsimulate output file with a handful of events that will reproduce this issue.

[2020-06-18 11:13] willquinn commented on #201
Hi @drbenmorgan I have a file that I generated using latest develop branch. Is that what you are after?

I don't know the best way fo sharing it. On CCLyon: /sps/nemo/scratch/wquinn/rec_test.brio

[2020-06-22 08:33] drbenmorgan commented on #201
Thanks @willquinn, how big is the file? It *should* be possible to attach small-is files (100kB or so?) here, otherwise you can send it to me through [https://files.warwick.ac.uk](https://files.warwick.ac.uk). Edit: use the "Upload a file for someone at Warwick" link!

[2020-06-22 10:48] drbenmorgan commented on #201
Hi @willquinn, thanks, I've got the file! Could you outline which events _should_ have a PTD bank, and what the expected contents of the bank would be?

[2020-06-22 11:13] willquinn commented on #201
I simulated 100 2nubb events from the source pads bulk using the default detector configuration (in flvisulise I didn't change anything).

So I would say that I would expect each event to have a PTD bank. Shall I send you the simulated file as well?

[2020-06-22 11:18] cherylepatrick commented on #201
I just took a look at Will's file. For example, the first event has a track that goes right up to a calorimeter, but they aren't associated into an electron particle. Similarly in events 3 and 4.

I tried to reconstruct this with a  version I have that I *thought* would make the PTD bank (4.0.2 (90dd7f63-dirty)) but not only did it not do so, it crashed after 34 of 100 events...

[2020-06-22 11:21] drbenmorgan commented on #201
Yes, that would help - if you can cut it down to say 10 events, that would also help. I can see that events _do_ have a PTD bank but are empty. The bug as originally reported has _no_ PTD bank at all.

Just seen @cherylepatrick's comment - o.k. that's good - if you can send the simulated file with the first 10 events, that looks to give enough to attempt reproduction.

NB: I think this is separate

[2020-06-22 11:24] cherylepatrick commented on #201
I reconstructed the same simulated file using  4.0.1 in a singularity container and I got this (with PTD bank)

[cheryl_rec_will.brio.zip](https://github.com/SuperNEMO-DBD/Falaise/files/4812897/cheryl_rec_will.brio.zip)

[2020-06-22 11:25] cherylepatrick commented on #201
I'm not sure about the assertion that there was no PTD bank at all in Hichem's report. If you look at his screenshots from flvis it looks the same - PTD is listed but there's nothing in it.

[2020-06-22 11:26] cherylepatrick commented on #201
[sim_test.brio.zip](https://github.com/SuperNEMO-DBD/Falaise/files/4812905/sim_test.brio.zip)
That's the simulated file btw (I'm zipping them cos GitHub doesn't like the brio file extension)

[2020-06-22 13:15] willquinn commented on #201
@drbenmorgan I have sent you the files, but for others they can be found at
/sps/nemo/scratch/wquinn/sim_test_10evnts.brio
/sps/nemo/scratch/wquinn/rec_test_10evnts.brio

10 2nubb events with no PTD bank in the rec file. Each event should have a PTD bank as far as I am aware.

[2020-06-22 13:28] drbenmorgan commented on #201
That's great, thanks both. May take a day or two to get round to looking at this, but have all I need!

[2020-06-22 13:30] willquinn commented on #201
just to qualify as well, I used Falaise version 4.0.3

[2020-06-23 10:05] #155 closed

[2020-06-26 17:02] drbenmorgan commented on #62
As we are now likely to only have a handful of modules, it's going to be easier to maintain them centrally in Falaise. I'll close this for now and we can review again as and when the need arises.

[2020-06-26 17:02] #62 closed

[2020-06-26 17:09] drbenmorgan opened #212 "Provide documentation on developing/testing resource files"
As discussed and highlighted in #197, we should use the previous "README" files from under `resources/` as a starting point for:

- How to develop resource files
- How to test/check/validate them

It should also be a good opportunity to link this up:

- With existing tutorials (like @willquinn's)
- Identifying basis for other tutorials (e.g. geometry)
- Identifying other missing topics, e.g. from

[2020-06-26 17:11] cherylepatrick commented on #212
Cheers Ben! I will try and contribute to this by writing a small tutorial (mostly in the hope of persuading someone to help us debug why @lemiere 's source foils won't run right now).

[2020-06-26 17:51] #201 closed, assigned to drbenmorgan

[2020-07-01 12:44] cherylepatrick opened #213 "Electron calo hits duplicated as gammas"
Apologies if this is a duplicate - it was actually @wausain that found it but I don't think it's already been logged. Hamzah found a few events where the same calorimeter hits had been reconstructed as both and electron and a gamma hit (with the same time and energy). The gamma must be a bug. Here's a picture from a talk of Hamzah's:
![image](https://user-images.githubusercontent.com/18677866/8624

[2020-07-01 13:30] drbenmorgan commented on #213
Seems reconstruction and likely GammaTracking/Clustering related, so assigning to @pfranchini and @Tedjditi for triage and fix. Would help them if you can supply - exact Falaise setup used, file with 5-10 events to replicate the bug (if triaged as one)

[2020-07-01 13:41] cherylepatrick commented on #213
Like I say, I haven't seen this myself, we need input from @wausain !

[2020-07-01 15:02] drbenmorgan commented on #213
Assigned @wausain as well!

[2020-07-01 15:24] wausain commented on #213
Hi All

I used Falaise 4.0 to simulate and reconstruct these events.

These events are very infrequent, I have a total of 81 events from 10 Billion simulations. I have these files in my hpss/sps space on cclyon if needed. How do you want to go about reproducing them?

The simulation configuration I used was:

_#@format=datatools::configuration::variant
#@format.version=1.0
#@organization=snemo
#@a

[2020-07-01 19:20] pfranchini commented on #213
I am a bit discouraged by having to reproduce 120M events before getting one bad event ;)

[2020-07-02 08:02] cherylepatrick commented on #213
Yeah I think that ain't gonna happen. @wausain can you point us at the existing files and let us know the event numbers of the naughty ones?

[2020-07-02 09:51] wausain commented on #213
Hi

All events can be found as tarred files at:

**/hpss/in2p3.fr/group/nemo/users/hhussain/8inch_PMT_Externals_10B/Glass_Bulk/Tl208/No_Field/** using the rfdir command

I have already extracted a few event in the corresponding sps directory:
**/sps/nemo/scratch/hhussain/8inch_PMT_Externals_10B/Glass_Bulk/Tl208/No_Field**

There are a total of 81 events from which there are 12 events which display

[2020-07-02 09:58] cherylepatrick commented on #213
AMAZING, thank you @wausain !

[2020-07-17 23:53] MHoballah opened #216 "Flreconstruct Warnings"
While using Flreconstruct, I am receiving some errors (last few below). apparently this is mentioned (or similar problem) in closed issue #[199](https://github.com/SuperNEMO-DBD/Falaise/issues/199).

I am using:
* Falaise : 4.0.3 (5d64f089)
* Bayeux  : 3.4.2
* Boost   : 106900
* Geant4  : 9.6.4

falaise in sync with the main develop branch.

`CAT::CircleRegression::fit: problem: in circle regressi

[2020-07-18 08:07] cherylepatrick commented on #216
I tried to look for this but was kind of confused - if the vertex extrapolation driver is a separate step from track fit etc, why isn't it in Falaise/Modules? Will I ever understand how the code is arranged? :(

[2020-07-18 08:13] yramachers commented on #216
Vertex extrapolation is one part of the Charged Particle Tracking module. The code is in that module directory.

[2020-07-18 08:29] cherylepatrick commented on #216
Thanks @yramachers  got it :)

The "closest vertex is on the opposite side" message (Comment: "is this an error or a warning?") happens when there's a disagreement between the side reported by the geometry manager for the trajectory and the x position of an extrapolated vertex. (Side would be French vs Italian in our usual parlance, though they are called "BACK" and "FRONT" in Falaise speak: it co

[2020-07-22 11:02] VeronikaPalusova opened #217 "tweakable_generator - tabulated function error"
I'm trying to test the tweakable generator with `generator/if_tweakable/energy_mode/if_spectrum/mode = "tabulated_function"` option using this example file: https://github.com/fmauger/Falaise/blob/0df5b0303a24cc62ae798fce28b361a2bc131bc9/resources/config/snemo/demonstrator/simulation/primary_events/1.3/data/energy_spectrum-example-1.data

This is the relevant part of my variant.profile generated f

[2020-07-22 13:20] emchauve commented on #217
try to remove the last line with `(END) `at the end the file `energy_spectrum-example-1.data` ?

[2020-07-22 13:28] #217 closed, assigned to nobody

[2020-09-08 08:53] MHoballah commented on #216
It is hard to check the bad events as there is no leads to them inside these errors, as far as i can see. But if you look through flvisualize and the root file (created by Sensitivity module) most of the particles reconstructed are positrons, and i dont know if this is related to the problem.

I don't think that I mentioned that I am using "load_supernemo_setup_pro" for Bayeux on cc-Lyon

[2020-09-11 11:27] MHoballah commented on #216
So, updates:

The positron problem was solved by correcting a missing "!" here:

https://github.com/SuperNEMO-DBD/Falaise/commit/9aee9ec16a9244d25d8d1df27fb7407b05e59926#diff-fd82a025a55df537d8776aa5918a07e7L146

and the warning: [warning:void snemo::reconstruction::vertex_extrapolation_driver::_measure_vertices_(const snemo::datamodel::tracker_trajectory&, snemo::datamodel::particle_track::vertex

[2020-09-17 11:42] MHoballah opened #218 "flreconstruct CAT problems"
Hello, encountered these problems, maybe they're known....

`
 problem: sequences with same size and cells have different beginnings or endings: 1st sequence from 2 to 1, 2nd from 3 to 1
 problem: sequences with same size and cells have different beginnings or endings: 1st sequence from 3 to 1, 2nd from 2 to 1
 problem: sequences with same size and cells have different beginnings or endings: 1st s

[2020-09-17 13:14] cherylepatrick commented on #218
Do they stop the reconstruction? Lose that event (unfortunately the reconstruction errors don't print an event number, do they?)? Or does it just keep going as normal but maybe you get one event that can't cluster?

[2020-09-17 13:15] cherylepatrick commented on #218
Also - do you see them always? On specific simulation types? On specific events? Any additional info makes it easier to diagnose... If you can get a small file that will always generate the problem, it's easier to test it, but I assume life is not that easy...

[2020-09-29 15:15] edbird opened #220 "Debian 10: Install (again)"
Sorry I know I've asked about this before, but I can't remember what went wrong last time, what the fix was etc... Also tried looking for previous issues - thought I had raised one - but couldn't find it.

![image](https://user-images.githubusercontent.com/2939755/94577531-9dadc000-026e-11eb-9e60-e1619915c589.png)
![image](https://user-images.githubusercontent.com/2939755/94577584-aa321880-026e-11

[2020-09-30 10:51] drbenmorgan commented on #220
https://github.com/SuperNEMO-DBD/brew/issues/27
https://github.com/SuperNEMO-DBD/brew/issues/30

[2020-09-30 11:46] edbird commented on #220
@drbenmorgan Thanks for these, I'd forgotten they were posted on the other repository...

However it appears to be a different issue this time, should I raise a new issue there?

Here is the gistlog token: https://gist.github.com/edbird/5046be74bb04639bfbce54440988a627

Generated using `brew gist-logs xz`

Not 100 % sure if this is the right thing to have run?

The m4 issue has been patched since

[2020-11-03 17:52] cherylepatrick commented on #177
We'd let this slip, but I'm bumping this now as it would be particularly useful for @wausain 's  current analysis, where he's made something like 11 million events for the Tl208  external background from the PMT's and is interested in 25 of them. Suggestion is that it is maybe not too bad to get this going? What do we need to do to make it happen?

[2020-11-04 15:58] drbenmorgan commented on #177
Hi @cherylepatrick, @wausain, I've drafted a rough outline of how a cut (I've called it "filter" for now to match Art/LArSoft) module could work with needed C++ and scripting in #163. Please have a look and let me know what you think!

[2020-11-08 11:27] pfranchini commented on #69
Hi, I see that this is has been merged since Bayeux 3.4.2 (which is currently at 3.4.3).
I think I have tested this before with a local patch but let me do it again before closing the issue.

[2020-11-13 12:51] drbenmorgan commented on #220
Closing as this an unsupported platform and there is no spare time to address adding Debian support.

[2020-11-13 12:51] #220 closed, assigned to nobody

[2020-11-16 01:52] pfranchini commented on #213
Hi @Tedjditi I was trying to look at this but I am wandering in the dark. Do you have any reference where I should start from? Thanks

[2020-12-02 17:50] cherylepatrick opened #223 "Multiple track-fit solutions for improved reconstruction of event topology"
**How things work now**

Individual clusters of tracker hits are fitted independently by the TrackFit module. No information other than the hits in that cluster is used in the fit (so - nothing about the rest of the tracker topology, no calorimeter information etc) As we know radius but not direction of particles passing through a cell, tracker tracks are fitted by joining a series of circles. Thi

[2020-12-02 17:53] cherylepatrick commented on #223
[Matteo's presentation on this](http://nile.hep.utexas.edu/cgi-bin/DocDB/ut-nemo/private/ShowDocument?docid=5219)
[Notes from discussion of that presentation](http://nile.hep.utexas.edu/cgi-bin/DocDB/ut-nemo/private/ShowDocument?docid=5220)

[2021-01-28 17:15] willquinn opened #225 "Make test 71, Issue 201 fix, failure"
Building the current version of the Falaise develop branch succeeds on CCLyon - simulation and reconstruction work correctly as seen through flvisualise. However `$ make test` shows a single failure on test 71 of the many tests. Relevant information:

[info] load_boost_1_69_0_setup: BOOST version 1.69.0 is now setup !
[info] load_camp_0_8_4_setup: CAMP version 0.8.4 is now setup !
[info] load_gsl_

[2021-02-11 09:44] drbenmorgan commented on #225
I've finally had some time to look at this. What seems to be causing this is that the Lyon system is using a different Bayeux version, and that uses the `bxdecay0` generator instead of the builtin `genbb_help`. Building Bayeux 3.4.2 with/out `bxdecay0` results in the test failing/passing (and failing with the same numbers above), so it's reproducible.

I don't think this is a bug, rather reflects

[2021-02-17 16:13] cherylepatrick commented on #216
@drbenmorgan @MHoballah  - do you know what the status is of getting this fix live? People have been  reporting electrons being misreconstructed as positrons (@VeronikaPalusova @willquinn ) and we initially thought it was a problem with the magnetic field... but maybe it was just this issue? It's a pretty huge deal, so we do need the fix available...

[2021-02-17 16:21] cherylepatrick commented on #216
@wausain just tagging you in case you've inadvertently used this dodgy version... it's mixing up electrons and positrons if they have a vertex on the foil. Could be giving you wrong numbers of events passing your charge cut...

[2021-02-17 16:59] MHoballah commented on #216
Hello, I didn't personally change anything live nor have I received anything about fixing in new versions.
I have noticed that the link does get you directly to the problem so here it is :

modules/ChargedParticleTracking/ChargedParticleTracking/charge_computation_driver.cc
in the above file (existent in the link), if you go to line  146 : (!_charge_from_source_) and what is updated (chargeFromSou

[2021-03-03 14:37] cherylepatrick opened #226 "Track which simulated hits come from which primary particle"
It would be useful if we could add GEANT info about which simulated tracker/calorimeter hits were generated by which primary decay particle (or its children, I guess) - would be helpful as some ground truth information for machine-learning algorithms, and could provide the missing link we need to use ML for clustering or more sophisticated reconstruction. Is it possible to add it to the event reco

[2021-03-03 16:45] fmauger commented on #226
In my "souvenir", there is an option in Bayeux to record primary geant4 step infos (G4 track  and particle IDs)
to make possible the reconstruction of the whole tree of generated particles. It is rather space consuming. I'll have a look in the Falaise config files. I don't remenber exactly where it is hidden :-). ASAP.

[2021-03-03 16:51] cherylepatrick commented on #226
Thank you very much Francois!

[2021-03-04 10:36] fmauger commented on #226
Hi
In principle, with flsimulate-configure, if you activate the "all_details" output profile in the configuration of the Geant4 engine embedded in Bayeux/Falaise, this would have the effect to record a large collection of raw truth hits (in the special hit collection named "__visu.track") from tracks traversing some regions of interest in the detector (source/tracker/calo(s)... but not all parts o

[2021-03-04 10:48] cherylepatrick commented on #226
Fantastic, thank you @fmauger ! @matteoceschia - do you want to try doing a small test simulation run with all_details turned on, to see if you can access the extra info?

[2021-03-04 11:11] fmauger commented on #226
I've just made a quick test and asking XML output from flsimulate I was able to browse truth hits in a text editor with this kind of infos:

[code]

So seems to work. frc

[2021-03-04 11:12] cherylepatrick commented on #226
Fantastic! That's great!

[2021-03-24 15:47] lemiere commented on #112
Reactivate :
Need support to propose extra feature for the source foil shapes based on 3D meas.
@drbenmorgan

[2021-03-24 15:48] lemiere commented on #192
Restart this thread !
@drbenmorgan , @edbird

[2021-03-24 15:49] lemiere commented on #193
Your feeling ?
@fmauger , @drbenmorgan

[2021-03-24 15:51] lemiere commented on #58
Someone used the DocDb to start documentation ? @cherylepatrick , @drbenmorgan

[2021-03-24 16:15] fmauger commented on #193
I have no immediate good idea right now but I believe we should search for a bad positioning
of the PMT within some mother envelop or with a very close volume (extruded scintillator block, support, back PMT base...). Visual inspection with proper zooming could help to find a "visible" odd skip. That could also come because of some rounding error when 2 volumes are touching. In that case, we should

[2021-03-25 11:39] lemiere commented on #112
Hi,
Actual foil shape :
[code]

To implement :
[code]

Who will take care to create a new source_foil.geom  ?
@cherylepatrick , @pfranchini , @drbenmorgan

[2021-03-25 11:42] pfranchini commented on #112
I finish to check the flat and have a got at this, thanks.

[2021-03-25 16:14] lemiere commented on #112
Real shape from 3D laser measurement talk : http://nile.hep.utexas.edu/DocDB/ut-nemo/docs/0048/004869/001/slides.pdf

[2021-04-18 20:33] fmauger opened #230 "Supposedly invalid dimension in copper source foil"
Having a deeper look on the new geometry models of the "realistic but still flat" source foils, I have noticed that the Copper strips are 74.0 microns thick (https://github.com/SuperNEMO-DBD/Falaise/blob/develop/resources/snemo/demonstrator/geometry/GeometryModels/source_module/flat/source_foils.geom, line 33). However, the parent "snemo_source_0.model" was made  x=43.0 um thick (line 41) which is

[2021-04-18 20:47] fmauger commented on #230
And also the "[name="snemo_source_17.model" type="geomtools::stacked_model"]"  definition at line 722 lacks the  "#@description ITEP-10" following directive for clarity.

[2021-04-19 07:18] fmauger commented on #230
And also also I do not understand why there is a "source_module" subdirectory in the "source_module" directory with somewhat similar contents ! It seems not to be addressed in the "resources/snemo/demonstrator/geometry/GeometryModels/Demonstrator.conf" main file.

[2021-04-19 07:38] fmauger commented on #230
Also^3 : The positioning of "bottom_film" and "top_film" in the "snemo_source_0.model" and "snemo_source_35.model" models is wrong. The Z coordinates should be -1462.5mm and +1462.5mm respectively to ensure a cumulative height of 3350mm with the 2500mm copper foils
with NO z-overlap.
Formula: along z, 425mm+2500mm+425mm=3350mm
So z pos is +/- (2500mm/2+425mm/2)=1462mm

[code]
To be assigned to @le

[2021-04-19 10:53] lemiere commented on #230
`#@description ITEP-10` added
"source_module" subdirectory in the "source_module" directory  deleted
 "snemo_source_0.model"  thickness adapted

Copper foil is 2490 mm long so to  ensure a full foil lenght at 3350 mm, film lenght should be 430 mm and then the placement is +/- 1460 mm. --> fixed

Copper foil width is 12.2 cm instead of 12.5 cm in the conf file --> fixed

[2021-04-20 08:34] cherylepatrick commented on #230
Hi @fmauger and @lemiere  and thanks for testing/fixing. Can I just check the implications of this?

- Is the copper foil actually wrongly modelled, or is it just some internal thing that needs to be consistent? I think if I read it correctly that you've changed the dimensions in the y-z plane?
- Does the "#@description ITEP-10" affect the functionality, or is that a readability thing?

@willquinn

[2021-04-20 08:48] fmauger commented on #230
both.
but the change in dimension is tiny with no expected implications unless you are interested in some events at the edges of the copper foils... which I guess is of  no interest ;-).
some placements were incorrect but have not triggered some G4 crash so far. However better to fix it now it has been detected.

no effect. only readability.

In principle , we expect no impact on Will's studies be

[2021-04-20 08:52] lemiere commented on #230
It's only tiny changes.... PR is big mess for so small stuff ;-)
Quick merge will allow @willquinn  to play with.

[2021-04-20 08:56] cherylepatrick commented on #230
Thank you! That's what I like to hear :)

[2021-04-20 09:00] drbenmorgan commented on #230
I've reopened and linked to #231 - just for bookkeeping and clarity!

That looks o.k. and ready for merge on reviewer approval.

[2021-04-20 09:12] cherylepatrick commented on #230
Thanks for the explanation! Sounds like the tiny dimension changes aren't a huge deal but it's better to have them right. Only thing that looks like it might be dramatic is this:
[code]

But that's just the change to make sure Geant doesn't crash?

As far as I'm concerned it looks OK to merge, and Will can give it a test.

[2021-04-20 09:25] #230 closed, assigned to nobody

[2021-04-20 11:53] willquinn opened #232 "PR 231 primary event generator selection error"
Relevant files are:

test.conf
[code]

test.profile
[code]

I then run the following `flsimulate -c test.conf -o test.brio`

However I get the following output:
[code]

Also in the flsimulate-configure GUI when selecting the vertex generator for the "real_flat_source_full_foils_se82_bulk" I can no longer select the "Se82.0nubb" primary events from the drop down menu.

See the following picture:
<i

[2021-04-20 11:53] willquinn commented on #232
#231

[2021-04-20 12:35] willquinn commented on #232
Just to clarify... in flsimulate-configure I picked "if_realistic" as the geometry and "real_flat_source_full_foils_se82_bulk" and "real_flat_source_full_foils_mass_bulk" as the vertex generator but none of the double beta primary event types were available.

[2021-04-20 12:47] cherylepatrick opened #233 "Long list of new vertex generators is long"
Small request/question relating to the very nice enhancements in #231.

With the realistic foils, we now have a lot of new vertex generators (each foil and pad's bulk and surface can be selected individually). That's great and I understand where it will be useful, so thank you! However - it now means that the list of generators  in `flsimulate-configure `is very long, and (especially over the ssh

[2021-04-20 13:53] fmauger commented on #233
Hi
Not easy to implement and implies some work/investigation with Qt GUI features in Bayeux (with some kind of guided spliting of a main menu to smart submenus). I'll think about it for I know the large amount of choices is not easy to address now on the screen...

[2021-04-20 14:02] cherylepatrick commented on #233
Thank you! It's not a huge problem at all - better too much choice than not enough!

[2021-04-21 09:47] lemiere commented on #233
We can provide a 'short' VG list for standard users
* uniform full foil surface
* uniform full foil bulk
* Se82 full foil bulk
The advance user will have to fill the conf file by hand or to generate the full .csv file.

Make sense ?

[2021-04-21 09:52] cherylepatrick commented on #233
To me that makes lots of sense as long as we make sure that the documentation for how to generate simulation has a link to how to do it the manual way, and the names of the "advanced" configs to pick from. @willquinn and I could perhaps sort that out, although I think @lemiere  or @fmauger would probably need to check it to make sure we got it right...

[2021-04-21 09:55] lemiere commented on #233
Try and if only few VG are available, you succeeded ! ;-)

[2021-04-21 10:08] willquinn commented on #233
The file we need is this: `resources/snemo/demonstrator/geometry/variants/vertex/vertexes_generators.csv` perhaps we create an advanced version and a user version

[2021-04-21 10:25] lemiere commented on #232
Yes ! I got same issue. Was not the case when Paolo tried it.
@pfranchini you confirm ?

[2021-04-21 11:42] pfranchini commented on #232
I have produced gammas so have not investigated other generators.

[2021-04-21 11:49] fmauger commented on #233
I consider the option of having two CSV files (basic vs advanced) is probably the cheapest solution to implement.
In that case, that would imply to set a specific CMake OPTION in Falaise like this:

`option(FALAISE_WITH_ADVANCED_SOURCE_VG "Provide a looooong list of source  ertex generators" OFF)`

and install the proper CSV file in the config tree as needed (using some conditional  CMake `copy` o

[2021-04-21 12:19] cherylepatrick commented on #233
@fmauger you read my mind! I was just going to suggest the two files. However I wondered - do we have to recompile to make the choice? Or is there a possibility to add a command line switch to flsimulate-configure to tell it to read the list from the advanced file instead of the default shorter one?  Not sure if that's a question for you or @drbenmorgan ...

[2021-04-21 12:20] fmauger commented on #232
I understand the bug.
There are some missing variant directives that should connect the possibility to use Se82 DBD generators when the RealisticFlat option is selected. I'm working on a fix (basically adding a few proper rules in the proper file(s)).
This issue is due to a very advanced feature of the variant system that allows to allow conditional activation of some variant options in one topic

[2021-04-21 12:22] cherylepatrick commented on #232
Ah yes I remember that! Or one I've been caught out by before - trying to generate Nd150 decays when the demonstrator's full of Se82 foils?

[2021-04-21 12:23] fmauger commented on #232
yep!

[2021-04-21 12:28] drbenmorgan commented on #233
@cherylepatrick, an option to `flsimulate-configure` would be the best solution if that's possible within the config/variant system (to which I defer to @fmauger).

Otherwise, I don't have an opinion on the proposals other than **they be documented, and done so clearly in the Doxygen docs**. Even if the "advanced" generators are likely to be used mostly for production runs, it should still be clea

[2021-04-21 13:03] lemiere commented on #232
I've that feeling, change resources/snemo/demonstrator/geant4_control/Geant4VariantsGDM.conf
[code]
To change for :
[code]
and let us know ;-)

[2021-04-21 13:18] fmauger commented on #232
not sure this is what has to be done. I'm following another track...
because in what you are proposing, it will probably work, but you will be also allowed to run Se events from any place in the detector, provided you have activated "geometry:layout/if_basic/source_layout/if_realistic_flat".

what we need is to express the fact that the selected vertex generator corresponds to a real Se82 source..

[2021-04-21 13:22] willquinn commented on #232
It does work. In flsimulate-configure I have the option to choose Se82 primaries and when running flsimulate using the conf and profile files above, I get an output brio.

However, I can also now simulate Se82 in the anode wires - which is fun

[2021-04-21 13:26] fmauger commented on #232
Yep. Exactly what I have predicted !

if you have a look on the Geant4VariantsGDM.conf file, you find the following directive:

dependees.slot_11.variant : string = "vertexes:generator/if_source_of_se82_dbd"

which is already addressed in the "dependencies.Se82PrimariesDep.logic : string = "OR([5],[[11])" directive.

So what must be done is to "mark" the various bulk generators on realistic strips

[2021-04-21 14:21] fmauger commented on #232
addressed in #234
please check !

[2021-04-21 14:28] fmauger commented on #232
it worked for me but one must check possible side-effects...

[2021-04-21 15:25] lemiere commented on #232
Previously, in the csv file we had :
real_flat_source_full_foils_se82_bulk  : Vertex generation from the bulk volume of all Se82 pads (for Se82 DBD process) : SourceFoilRealisticFlat : **if_source_of_se82_dbd**

Which no more available in the current version of .csv file....
I will after that....

[2021-04-21 16:06] willquinn commented on #232
I don't know which thread post this on.

I cloned fix #234 and tested using the files I have included on this thread. It worked, however as I don't understand the whole scope of this perhaps someone can explain further.

- only the "real_flat_source_full_foils_se82_bulk" generator allows the Se82 primary events
- the other real_flat... generators do not allow Se82 events
- generators that we do no

[2021-04-21 16:23] fmauger commented on #232
yes because the weighting of the combined generators used under the hood are specific to the Se mass in the collection of pads.
for other emitters (Tl , Bi) this makes no sense.

The "real_flat_source_strip_34_se82_bulk" should.
and we could add the individual "real_flat_source_strip_*_pad_?_bulk" vgs

which is expected.

oops! duplicate answer on the slack. sorry... to many screens !

[2021-04-21 16:32] willquinn commented on #232
Ah no worries I think I understand a bit better now thank you. I checked a couple of the generators you mentioned and they all allow the Se82 primaries :)

[2021-04-21 16:41] cherylepatrick commented on #232
I'm confused now! real_flat_source_full_foils_se82_bulk and all of the individual strip/pad bulks should allow Se82, yes? But stuff like the surface and the copper foils and, I dunno, tracker wires shouldn't. And none of them should allow e.g. Nd150 cos that's not what they're made of. Is that what it's doing?

[2021-04-21 16:49] fmauger commented on #232
yes,it is.

[2021-04-21 16:50] fmauger commented on #232
I've just added individual bulk pads as possible Se source for strips 1 to 34 included.

[2021-04-21 17:01] cherylepatrick commented on #232
Awesome, thank you! I get it now :)

[2021-04-21 21:04] #232 closed, assigned to fmauger, cherylepatrick, lemiere

[2021-04-22 07:27] drbenmorgan commented on #225
Confirmed as due to use of newer Bayeux/bxdecay0, not a bug, just reflects changes to random number seeding. Will confirm update needed to test on upgrade to supported Bayeux version.

[2021-04-22 07:27] #225 closed, assigned to nobody

[2021-04-22 07:30] drbenmorgan commented on #177
Resolved by #163

[2021-04-22 07:30] #177 closed

[2021-04-22 07:32] #112 closed

[2021-04-22 07:34] drbenmorgan commented on #142
@pfranchini, could you prepare a PR adding these two modules to Falaise under the `modules/` directory please? I think they're then ready for further use/development as needed, and we can close this Issue.

[2021-04-22 08:01] pfranchini commented on #142
Hi @drbenmorgan,
I can certainly do it! Will need to see if is still compatible with the recent Falaise.
I think the second module has been superseded by @matteoceschia 's work, so will investigate with him if he has another version. Or in case I just add this one and he can later merge his code on it.
In particular there is this PR (rather old now) https://github.com/SuperNEMO-DBD/SuperNEMO-Lazar

[2021-04-22 08:12] drbenmorgan commented on #142
Thanks @pfranchini, sounds good!

[2021-04-22 10:21] drbenmorgan commented on #187
gA is now in bxdecay0, so marking this as closed - the generator will be available in Falaise from the next release (modulo patches to make it available through `flsimulate-configure`.

[2021-04-22 10:21] #187 closed

[2021-04-22 10:23] drbenmorgan commented on #193
Discussed in SI meeting this morning - will postpone until after next release, which should be in the next couple of weeks. We'll then revisit and find people to look at this in detail.

[2021-04-22 10:24] drbenmorgan commented on #172
As discussed in SI meeting - assignees to follow up with Vladimir on input needed to implement this in `bxdecay0`.

[2021-04-22 16:37] fmauger commented on #193
I've inspected the region where Will got some G4 tracking issue. It occured at the end of PMT bulb envelop. This is probably due to the exact matching  of the glass bulb with its mother envelop which uses exactly the same shape profile (profile data from a file). So I guess G4 faces a pb here when a particle in the glass needs to step out to the air behind the bulb. The G4 driver wants to make it

[2021-06-03 14:13] cherylepatrick opened #237 "Bi207 source vertex generator - weighted activities"
Can we improve the vertex generator for the Bi207 calibration sources by weighting the number of events from each source by its measured activity? Starting this as a placeholder - if anyone finds the documentation of which source is where, and the activities of the individual sources, link them here!

[2021-06-03 14:30] cherylepatrick commented on #237
https://tel.archives-ouvertes.fr/tel-02122290/document I think the relative activities are in tables A5-A8 of @miroslav-macko 's thesis, page 197.
Looks like Fred planned to do measurements at Bordeaux http://nile.hep.utexas.edu/cgi-bin/DocDB/ut-nemo/private/ShowDocument?docid=4668 but I'm not sure if these supersede the ones in Miro's doc (they might be the results in table A11-12).
I've mailed K

[2021-06-03 20:23] miroslav-macko commented on #237
Hello,

I have the values of activities with high precision (sub percent precision for at least half of them if I remember). During June (according to the availability of both of us) we discussed that we would upload the final report to the DocDB with the values and other details with Fred. My thesis gives some level of information but the study was finished afterwards so the latest news are in th

[2021-06-03 20:37] cherylepatrick commented on #237
Perfect, thanks @miroslav-macko !

[2021-08-04 16:52] emchauve commented on #216
I made the pull request to fix this typo introduced by "modernization" stuff
https://github.com/SuperNEMO-DBD/Falaise/commit/9aee9ec16a9244d25d8d1df27fb7407b05e59926#diff-191f301098dec10325f1bbfbecdc51749a7b0dba46dcb12feefdeb027a906c4e

[2021-08-09 15:21] miroslav-macko commented on #237
I apologize a lot but I have uploaded the report only today. It is on DocDB, document number 5480. This report was an attempt to give a detailed explanation of the measurements so it contained lot of uninteresting details for someone who only needs numbers. The numbers (activities + their relative uncertainties) can be found in the last two columns of Tables 4 and 5. Some sources were measured twi

[2021-09-07 11:49] lemiere commented on #237
Here a csv file obtained thnaks to Miroslav documents.
This file will be used in order to produce the .conf file for the vertex generator.
[source_calib_act_b.csv](https://github.com/SuperNEMO-DBD/Falaise/files/7121260/source_calib_act_b.csv)

And a picture based on this file.
![bi207_source2](https://user-images.githubusercontent.com/20680400/132369186-4d1bf2ca-59d1-4aa5-b327-48f9271274ae.png)

[2021-09-07 15:23] lemiere commented on #237
![Capture d’écran_2021-09-07_17-22-38](https://user-images.githubusercontent.com/20680400/132370565-99003a84-c99e-42a8-96fd-32c6ae1e61e8.png)

script to produce .def file ready.
Need to add stuff for variant system.
Is there someone to integrate it into Falaise ?

[2021-09-08 20:14] fmauger commented on #237
can you send your script ?

[2021-09-08 20:35] lemiere commented on #237
That's dirty but done during lunch time :-D
Best,
Yves

[2021-09-20 10:45] fmauger commented on #237
A first implementation of the realistic SDS calibration setup is available at:
https://github.com/fmauger/Falaise/tree/feature-237/

It includes:
- bump of the geometry version from 4.0 to 5..0
- need Bayeux 3.5 for ranking and/or obfuscated variant options when loooooong lists of options is available
  * now use ranking for vertex generators variant selection
  * now use ranking for primaries var

[2021-09-20 10:46] fmauger commented on #237
Are we ready for a PR on it ?

[2021-09-21 20:24] fmauger opened #241 "SNRS library integration for realistic geometry modelling of ITEP-style source foils"
Based on the https://github.com/SuperNEMO-DBD/SNRS project, we can provide a realistic model of the deformed ITEP-like source foils.

[2021-09-21 20:28] fmauger commented on #241
First implementation in the Falaise geometry setup of 18 ITEP-like source foils:

![snemo_geom_test_snrs1_1](https://user-images.githubusercontent.com/13448163/134242638-b42055dc-40e2-4660-af22-bac5ca3cc8f5.jpeg)

[2022-03-18 21:57] fmauger commented on #226
We can close this one.

[2022-03-25 13:11] fmauger commented on #69
@Manu : high-statistics MC runs to check everything is fine.

[2022-03-25 13:17] fmauger commented on #74
TODO: Discussion about some digitization datamodel and calibration datamodel + connection with the raw data model.
@manu @francois @goliviero  @yves

[2022-03-25 13:28] fmauger commented on #90
TODO: specifications for:
- condtition DB: datamodel for Geiger cells' and optical modules' status during specific time periods
- calibration: what calibration parameters are needed ? what software interface is implied by the calibration procedure ?
 Towards a service that links the informations from the  database and the reconstruction algos

[2022-03-25 13:33] #99 closed

[2022-03-25 13:43] fmauger commented on #115
COMMENT: @fmauger Not urgent ; implies some work in Bayeux

[2022-04-26 11:44] fmauger opened #244 "A module for discarding masked hits from the MC SD bank"
The idea is to apply some real running conditions to the simulated data at the output of flsimulate.
This could be implemented through some dedicated RC (real running conditions) module which should be able to:
- discard calo hits associated to dead/off optical modules
- discard geiger hits associated to dead/off tracker cells

Approaches:
a) the ideal "truth" bank "SD" could produce a new "RCSD"

[2022-05-02 09:23] #216 closed, assigned to nobody

[2022-05-02 09:45] fmauger commented on #244
After thinking more about it, I will push for some kind of  running conditions (RC) service on which some dedicated modules would rely on to filter the SD bank with respect to some (supposedy) realistic running conditions. Some recionstruction or analysis modules would be also able to use such a service.
The RC service itself would use the DB service to fetch some specific informations about the s

[2022-05-02 09:51] fmauger commented on #244
Very  preliminary development is at https://github.com/fmauger/Falaise/tree/feature-244

[2022-05-03 13:17] goliviero opened #246 "Boost 1.69 fatal error when compiling Falaise develop probably in Sensitivity module"
With the latest merges of @fmauger, Sensitivy module was re-added to the modules/CMakelists.txt.

I try to compile Falaise-develop but encounter an error with boost 1.69 at CCLyon while compiling the Sensitivity module.
The error is with :  [-Werror=pedantic]  and it might be reduced probably

[code]

It looks like the bug was resolved in next (1.70) boost version : https://github.com/boostorg/ran

[2022-05-03 16:02] fmauger commented on #246
Ooops. I run Boost 1.71 so I missed this problem.

[2022-05-03 16:04] fmauger commented on #233
The new PR 237 and the one comming soon related to issue 241 + bump to Bayeux 3.5.1 will solve this issue in principle.

[2022-05-05 10:03] fmauger opened #248 "Warnings in test modules using catch macros in Falaise 4.0.3"
Emit some warnings about polymorphic exception classes within the REQUIRE_THROWS_AS catch macro.

Typical error log is :

[code]

[2022-05-06 12:03] fmauger commented on #241
Processed through PR #249.
Major dependency changes: Bayeux, SNRS

[2022-05-06 12:37] fmauger commented on #241
This issue will be removed after test and final install at CCIN2P3

[2022-06-06 00:24] fmauger opened #252 "Possible bug in Bayeux/dpp I/O module"
Some Falaise simulation  tests fail randomly when trying to access the embedded metadata container in write mode.
After investigations, it seems the `io_common::io_type` attribute of Bayeux's dpp I/O modules (`dpp::io_common` class)  is not properly initialized and then set randomly from the memory contents. This triggers a random exception when the input module has a random  `IO_OUTPUT` mode set

[2022-07-29 13:34] lemiere commented on #237
Based on : http://nile.hep.utexas.edu/DocDB/ut-nemo/docs/0048/004816/001/DT_FR_FINAL.pdf#cite.DEPLSYST
(PAGE 77 Table 3.7)
Source column 1, row 1 is ID : 79 with activity 127.1 Bq.
Confirmed with @miroslav-macko, in his thesis column 1 is tunnel side.

In Falaise Column 0, Row 0 is bottom/mountain side and that's the actual calibration source label for source 79.
Taht should be fixed :-(

[2022-10-19 11:05] fmauger commented on #237
About to be fixed in some coming soon PR ;-)